/*Created by huang.jun on 16-05-19*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:Microsoft YaHei;background:url(../img/bk.jpg) repeat-y;background-size:auto cover;}
article{padding-bottom:1rem;}
.top-img{font-size:0;}
#mytool{position:relative;top:0rem;left:0;z-index:20;width:100%;background:url(../img/bk.jpg) no-repeat 0 bottom; background-size:auto cover;height:3rem;}
.navBox{margin-top:0.27rem;height:0.46rem}
.navBox li{float:left;padding-left:0.3rem;}
.navBox li a{display:block;}
.navBox li .nav1{width:1.95rem;height:0.44rem;background:url(../img/navBtn1.png) no-repeat;background-size:cover;}
.navBox li .nav2{width:1.95rem;height:0.44rem;background:url(../img/navBtn2.png) no-repeat;background-size:cover;}
.navBox li .nav3{width:2.42rem;height:0.46rem;background:url(../img/navBtn3.png) no-repeat;background-size:cover;}
.navBox li.on .nav1{background:url(../img/navBtn1_1.png) no-repeat;background-size:cover;}
.navBox li.on .nav2{background:url(../img/navBtn2_2.png) no-repeat;background-size:cover;}
.navBox li.on .nav3{background:url(../img/navBtn3_3.png) no-repeat;background-size:cover;}

.xianlu{padding:0 0.4rem;font-size:0;}
.xianlu p{padding:0.1rem 0rem;}
.xianlu div{display:none;}

.hotel-list{}
.hotel-list dt{margin-top:0.39rem;padding:0 0.96rem 0.25rem 0.96rem;}
.hotel-list dd{margin:0.21rem 0.3rem 0 0.3rem;border:0.04rem solid #54260D;-moz-border-radius:0.1rem;-webkit-border-radius:0.1rem;border-radius:0.1rem; overflow:hidden;}

.txt-box{height:1.09rem;background:#fff;}
.lft-box{float:left;padding:0 0 0 0.26rem;}
.lft-box h3{font-size:0.26rem;color:#333;padding-top:0.2rem;}
.lft-box p{font-size:0.2rem;color:#666;}
.rit-box{float:right;width:1.42rem;height:0.7rem;background:#A26F52;padding-right:0.2rem;border-top-left-radius:0.1em;border-bottom-left-radius:0.1em;margin-top:0.16rem;}
.rit-box h3{font-size:0.32rem;color:#fff;text-align:right;height:0.3rem;line-height:0.3rem;margin-top:0.13rem;}
.rit-box h3 small{font-size:0.22rem;}
.rit-box p{font-size:0.2rem;color:#54260d;text-align:right;height:0.18rem;line-height:0.18rem;margin-top:0.05rem;}
.rit-box p small{font-size:0.14rem;}
.rit-box p b,.rit-box p strong,.rit-box p small{ text-decoration:line-through;}
.btn-box{padding:0.3rem 0.3rem 0 0.3rem;}

.md1,.md2,.md3{position:absolute;width:1rem;height:1rem;}
.md1{top:4rem;}
.md2{top:25.9rem;}
.md3{top:50.5rem;}
