/*Created by huang.jun on 18-2-1*/
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;
  &:active{opacity:.7;}
}
button:active{opacity:.7;}
ol,ul,li{list-style:none;}
body{font-family:PingFang-SC-Regular,sans-serif;-webkit-text-size-adjust: 100% !important;text-size-adjust: 100% !important;-moz-text-size-adjust: 100% !important;}
.shadow{width:100%;height:100%;position:fixed;z-index:20;background:#000;opacity:.7;top:0;left:0;}
.img-box{font-size:0;
  img{width:100%;}
}
//四角的半径定制.border-radius-custom(20px, 20px, 0px, 0px);
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}
//方块阴影.box-shadow(5px, 5px, 6px, 0.3);
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: .5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
//圆角.border-radius(@radius:5px)
.border-radius(@radius:5px){
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
//input默认字体.placeholder({color:#666;});
.placeholder(@a){
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}
//线性渐变.gradient(left, #663333, #333333);
.gradient(@origin:left,@start:#fff,@stop:#000){
  background-color:@start;
  background-image:-webkit-linear-gradient(@origin,@start,@stop);
  background-image:-moz-linear-gradient(@origin,@start,@stop);
  background-image:-o-linear-gradient(@origin,@start,@stop);
  background-image:-ms-linear-gradient(@origin,@start,@stop);
  background-image:linear-gradient(@origin,@start,@stop);
}
//清除浮动
.ClearBox{
  &:after,&:before{content: " ";display: table;clear:both;}
}


.TopImg{.img-box;}
.TopBg{background:#D92C2E;}
.CouponsWrap{margin:0 .75rem;background:#FFF0DB;border:1px solid #FFC38D;padding:.45rem .25rem .25rem .25rem;.border-radius(@radius:.25rem);.ClearBox;
  .CouponsBg{
    &:nth-of-type(1),dt,dd,dt small,dt strong,dt ul{float:left;}
    &:nth-of-type(2){float:right;}
    dt{width:6.25rem;height:2.9rem;background:url("../img/CouponsLeft.png") no-repeat;background-size:100% 100%;color:#fae9c7;
      small{font-size:.65rem;padding:1.15rem 0 0 .7rem;}
      strong{font-family:"PingFangSC-Semibold";font-size:1.55rem;padding:.25rem 0 0 0;}
      ul{padding:.75rem 0 0 .3rem;
        li{
          &:nth-of-type(1){font-size:.55rem;line-height:.55rem;}
          &:nth-of-type(2){font-family:"PingFangSC-Light";font-size:.45rem;line-height:.45rem;margin-top:.2rem;}
        }
      }
    }
    dd{width:2rem;height:2.9rem;background:url("../img/CouponsRight1.png") no-repeat;background-size:100% 100%;}
    &.On{
      dt{position:relative;
        &:after{width:1.3rem;height:.8rem;position:absolute;content:"";background:url("../img/Icon.png") no-repeat;background-size:100% 100%;right:.2rem;bottom:.3rem;}
      }
      dd{background:url("../img/CouponsRight2.png") no-repeat;background-size:100% 100%;}
    }
  }
}
.ListBox{.gradient(top,#D93B3C,#BA272F);padding:.6rem .7rem 0 .7rem;
  ul{
    li{height:2rem;line-height:2rem;background:#FFEFD8;.border-radius(@radius:2rem);margin-top:.4rem;
      h3{float:left;font-size:.75rem;color:#333;width:5.6rem;padding-left:.6rem;}
      div{color:#a43232;float:left;width:6rem;
        span{float:left;font-size:.75rem;line-height:.75rem;padding:.65rem 0 0 0;}
        big{float:left;font-size:.9rem;line-height:.9rem;padding:.5rem 0 0 .2rem;}
        small{float:left;font-size:.45rem;line-height:.45rem;padding:.9rem 0 0 0;}
        cite{float:left;font-size:.55rem;line-height:.55rem;color:#999;font-style: inherit;margin-left:.4rem;margin-top:.85rem;text-decoration:line-through;}
      }
      button{float:right;width:4.5rem;height:1.65rem;border:0;background:#B4242D;color:#ffefda;font-size:.75rem;line-height:1.65rem;text-align:center;.border-radius(@radius:1.65rem);margin:.175rem .175rem 0 0;}
    }
  }
  .Btn{margin-top:1.25rem;
    a{display:block;height:2rem;line-height:2rem;text-align:center;font-size:.75rem;font-weight:bold;color:#fff;.gradient(top,#F7B34E,#ED5B36);.border-radius(@radius:2rem);}
  }
}
.Title{.img-box;position:relative;
  span{right:.75rem;bottom:.9rem;position:absolute;font-size:.65rem;color:#e7bf74;width:2.375rem;height:.8rem;line-height:.8rem;text-align:center;border:1px solid #e7bf74;.border-radius(@radius:1rem)}
}

.LayBg{width:13.325rem;height:17.625rem;background:url("../img/LayBg.png") no-repeat;background-size:100% 100%;margin-left:-6.6625rem;position:fixed;z-index:30;left:50%;top:30%;
  .RuleList{color:#fff;
    dt{font-family:"PingFangSC-Heavy";font-size:.75rem;line-height:.75rem;text-align:center;padding-top:1.25rem;}
    dd{font-size:.55rem;padding:0 .7rem;
      p{line-height:1rem;margin-top:.3rem;}
    }
  }
  .CloseBtn{width:1.375rem;height:2.35rem;position: absolute;right:.675rem;top:-2.35rem;background:url("../img/close.png") no-repeat;background-size:100% 100%;}
}

.CouponLay{position:fixed;width:15.25rem;height:13.25rem;background:url("../img/LayBg2.png") no-repeat;background-size:100% 100%;z-index:30;left:50%;margin-left:-7.625rem;top:30%;
  .CouponTxt{color:#fff6bb;text-align:center;margin-top:5.85rem;
    dt{font-size:1.65rem;line-height:1.65rem;}
    dd{font-size:.75rem;line-height:.75rem;margin-top:.7rem;}
  }
  .LayBtn{height:2.25rem;padding:1rem 1.5rem 0 1.5rem;
    a{.gradient(top,#FFFDC4,#FFE48B);display:block;height:2.25rem;line-height:2.25rem;text-align:center;color:#ea5b29;font-size:.9rem;.border-radius(@radius:2.25rem);}
  }
  .CloseBtn{width:1.75rem;height:1.75rem;position: absolute;left:50%;margin-left:-.875rem;background:url("../img/close2.png") no-repeat;background-size:100% 100%;bottom:-3rem;}
}



