* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}
img {
  width: 100%;
}
body {
  font-family: Microsoft YaHei;
}
.logo {
  position: absolute;
  left: 0.19rem;
  top: 0.29rem;
  width: 2.31rem;
  height: 0.6rem;
}
.top-txt {
  position: absolute;
  left: 0.25rem;
  top: 1.31rem;
  width: 6.87rem;
  height: 4.76rem;
}
.zongzi {
  position: absolute;
  width: 5.41rem;
  height: 4.45rem;
  left: 1.06rem;
  top: 5.96rem;
  z-index: 3;
}
.right-icon {
  width: 1.02rem;
  height: 2.39rem;
  position: absolute;
  left: 5.2rem;
  top: 5.75rem;
  -webkit-animation: bg 1s infinite linear;
  z-index: 2;
}
.btm-btn {
  width: 4.25rem;
  height: 1.35rem;
  position: absolute;
  left: 50%;
  margin-left: -2.125rem;
  top: 10.8rem;
}
.qaBg {
  position: absolute;
  width: 7.5rem;
  height: 8.58rem;
  left: 0rem;
  top: 2.92rem;
}
.QA-box {
  left: 1.03rem;
  position: absolute;
  top: 4.03rem;
  width: 5.4rem;
}
.QA-box dt .wt1 {
  width: 4.96rem;
}
.QA-box dt .wt2 {
  width: 5.18rem;
}
.QA-box dt .wt3 {
  width: 5.05rem;
}
.QA-box dd p {
  margin-top: 0.46rem;
}
.zongzi2 {
  width: 5.41rem;
  height: 7.18rem;
  position: absolute;
  left: 50%;
  margin-left: -2.705rem;
  top: 1.4rem;
}
.zongzi-txt {
  width: 6.42rem;
  position: absolute;
  left: 50%;
  margin-left: -3.21rem;
  top: 8.93rem;
  color: #6a310a;
  font-size: 0.32rem;
  line-height: 0.4rem;
}
.spots-name1 {
  width: 1.51rem;
  height: 0.89rem;
  letter-spacing: 0.2rem;
  line-height: 0.89rem;
  left: 50%;
  margin-left: -0.755rem;
  background: url(../img/txt-bg.png) no-repeat;
  background-size: 1.51rem 0.89rem;
  position: absolute;
  font-size: 0.4332rem;
  color: #E94B20;
  text-indent: 0.22rem;
  top: 9.96rem;
}
.spots-name2 {
  width: 2.18rem;
  height: 0.89rem;
  letter-spacing: 0.2rem;
  line-height: 0.89rem;
  left: 50%;
  margin-left: -1.09rem;
  background: url(../img/txt-bg2.png) no-repeat;
  background-size: 2.18rem 0.89rem;
  position: absolute;
  font-size: 0.4332rem;
  color: #E94B20;
  text-indent: 0.22rem;
  top: 9.96rem;
}
.spots-name3 {
  width: 2.86rem;
  height: 0.88rem;
  letter-spacing: 0.22rem;
  line-height: 0.88rem;
  left: 50%;
  margin-left: -1.43rem;
  background: url(../img/txt-bg3.png) no-repeat;
  background-size: 2.86rem 0.88rem;
  position: absolute;
  font-size: 0.4332rem;
  color: #E94B20;
  text-indent: 0.22rem;
  top: 9.96rem;
}
.left-btn {
  width: 3.08rem;
  height: 0.99rem;
  line-height: 0.99rem;
  background: url("../img/QA-btn9.png") no-repeat;
  background-size: 3.08rem 0.99rem;
  position: absolute;
  left: 0.35rem;
  top: 11.1rem;
}
.right-btn {
  width: 3.57rem;
  height: 0.99rem;
  line-height: 0.99rem;
  background: url("../img/QA-btn10.png") no-repeat;
  background-size: 3.57rem 0.99rem;
  position: absolute;
  left: 3.54rem;
  top: 11.1rem;
}
.zongzi3 {
  width: 5.41rem;
  height: 7.25rem;
  position: absolute;
  left: 50%;
  margin-left: -2.705rem;
  top: 1.38rem;
}
.zongzi-txt2 {
  width: 6.42rem;
  position: absolute;
  left: 50%;
  margin-left: -3.21rem;
  top: 9.09rem;
  color: #6a310a;
  font-size: 0.32rem;
  line-height: 0.4rem;
  text-align: center;
}
.QA-btn11 {
  width: 4.41rem;
  height: 1.36rem;
  position: absolute;
  left: 50%;
  margin-left: -2.205rem;
  top: 11.1rem;
}
@-webkit-keyframes bg {
  0% {
    -webkit-transform: rotate(7deg);
    margin-left: -0.4rem;
    transform-origin: 0% 100%;
  }
  50% {
    -webkit-transform: rotate(0deg);
    margin-left: 0rem;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: rotate(7deg);
    margin-left: -0.4rem;
    transform-origin: 0% 100%;
  }
}
