/*Created by huang.jun on 17-05-18*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}
img {
  width: 100%;
}
body {
  font-family: PingFang SC Medium, sans-serif;
}
.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  background: #000;
  opacity: 0.6;
  top: 0;
  left: 0;
}
section {
  display: none;
}
.img-box {
  font-size: 0;
}
article {
  background: #05BAA1;
}
.pop-txt {
  font-size: .8rem;
  color: #fbf9e0;
  text-align: center;
  height: 3rem;
}
.pop-txt dt {
  line-height: .8rem;
  margin-top: .55rem;
}
.pop-txt dd {
  line-height: .8rem;
  margin-top: .5rem;
}
.pop-txt dd a {
  color: #fff668;
  margin-left: .2rem;
  text-decoration: underline;
}
.card-box {
  padding: 0 0 1.4rem 2%;
}
.card-box:after,
.card-box:before {
  content: " ";
  display: table;
  clear: both;
}
.card-box li {
  float: left;
  margin: 2% 0 0 2%;
  width: 46%;
  font-size: 0;
}
.bg-green {
  background: #0CA38E;
}
.spike-img {
  padding: 0 4%;
  font-size: 0;
  position: relative;
}
.spike-img a {
  width: 25.5%;
  position: absolute;
  right: 7%;
  top: 77%;
}
.spike-txt {
  text-align: center;
  color: #fbf9e0;
  font-size: .6rem;
  line-height: .6rem;
  margin-top: .5rem;
}
.more-title {
  margin-top: 1.375rem;
}
.tab-nav {
  height: 2rem;
  background: #FBF9E0;
}
.tab-nav li {
  line-height: 2rem;
  float: left;
  width: 25%;
  color: #666;
  font-size: .7rem;
  text-indent: 9.5%;
}
.tab-nav li.cur {
  color: #008f7b;
  position: relative;
}
.tab-nav li.cur:after {
  position: absolute;
  content: "";
  width: .65rem;
  height: .875rem;
  background: url("../img/tab-icon.png") no-repeat;
  background-size: 100% 100%;
  left: 19%;
  top: 26%;
}
.tab-list {
  padding: 2% 4%;
  display: none;
}
.tab-list li {
  background: #fff;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  height: 2rem;
  line-height: 2rem;
  position: relative;
  margin-top: 2%;
}
.tab-list li span,
.tab-list li strong,
.tab-list li small,
.tab-list li b,
.tab-list li cite {
  float: left;
}
.tab-list li span {
  padding-left: .75rem;
  font-size: .75rem;
  width: 5.5rem;
}
.tab-list li strong {
  font-weight: normal;
  font-size: .75rem;
  color: #fe6d41;
}
.tab-list li small {
  font-size: .6rem;
  color: #fe6d41;
  line-height: 2.2rem;
  padding-left: .1rem;
}
.tab-list li b {
  font-size: .9rem;
  font-weight: normal;
  color: #fe6d41;
  line-height: 2.1rem;
  padding-left: .2rem;
  font-family: PingFang SC Heavy, sans-serif;
}
.tab-list li cite {
  font-size: 0.6rem;
  font-style: normal;
  margin-left: 0.1rem;
  line-height: 2.1rem;
  color: #999;
}
.tab-list li a {
  position: absolute;
  width: 5.1rem;
  height: 1.65rem;
  line-height: 1.65rem;
  background: #FE6D41;
  color: #fbf9e0;
  font-size: .75rem;
  text-align: center;
  right: .175rem;
  top: .175rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}
.hb-box {
  padding: 3% 4% 6% 4%;
  position: relative;
  font-size: 0;
}
.hb-box a {
  position: absolute;
  right: 7%;
  bottom: 18%;
  width: 26.5%;
}
.btm-list {
  font-size: 0;
  padding: 0 4%;
}
.btm-list li {
  margin-top: 2%;
}
.lay-box {
  position: fixed;
  width: 14.5rem;
  height: 25.05rem;
  background: #fff;
  z-index: 5;
  left: 50%;
  top: 50%;
  margin-left: -7.25rem;
  margin-top: -12.525rem;
}
.lay-box dt,
.lay-box dd {
  padding: 0 0 0 .65rem;
}
.lay-box dt {
  text-align: center;
  font-size: .9rem;
  line-height: .9rem;
  padding-top: .6rem;
}
.lay-box dd {
  color: #666;
}
.lay-box dd p {
  font-size: .65rem;
  margin-top: .3rem;
  padding-left: 0.375rem;
  line-height: .9rem;
}
.lay-box dd:nth-of-type(1) p,
.lay-box dd:nth-of-type(2) p {
  background: url("../img/icon.jpg") no-repeat 0 0.28rem;
  background-size: .225rem .225rem;
}
.lay-box dd:nth-of-type(1) {
  padding-top: .2rem;
}
.lay-box dd:nth-of-type(2) {
  padding-top: .4rem;
}
.lay-box dd:nth-of-type(2) p {
  margin-top: .2rem;
}
.lay-box dd:nth-of-type(3) {
  padding-right: .65rem;
}
.lay-box dd:nth-of-type(4) {
  padding: .5rem 0.925rem 0 0.925rem;
}
.lay-box dd:nth-of-type(4) a {
  display: block;
  border-top: 1px solid #999;
  text-align: center;
  font-size: .9rem;
  color: #0093b5;
  line-height: 2rem;
  height: 2rem;
}
