/*Created by huang.jun on 17-7-3*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:PingFang SC Medium,sans-serif;}
.shadow{width:100%;height:100%;position:fixed;z-index:2;background:#000;opacity:0.7;top:0;left:0;}
.img-box{font-size:0;}
//四角的半径定制.border-radius-custom(20px, 20px, 0px, 0px);
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}
//方块阴影.box-shadow(5px, 5px, 6px, 0.3);
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
//圆角.border-radius(@radius:5px)
.border-radius(@radius:5px){
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
//input默认字体.placeholder({color:#666;});
.placeholder(@a){
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}
//线性渐变.gradient(left, #663333, #333333);
.gradient(@origin:left,@start:#ffffff,@stop:#000000) {
  background-color:@start;
  background-image:-webkit-linear-gradient(@origin,@start,@stop);
  background-image:-moz-linear-gradient(@origin,@start,@stop);
  background-image:-o-linear-gradient(@origin,@start,@stop);
  background-image:-ms-linear-gradient(@origin,@start,@stop);
  background-image:linear-gradient(@origin,@start,@stop);
}

article{background:#fff;padding-left:1.125rem;}
.top_txt{padding:1.125rem;font-size:.75rem;margin-bottom:.5rem;background:#fff;line-height:1rem;}
.box{
  dl{border-top:1px solid #ccc;
    &:nth-of-type(1){border:0;}
    dt{padding:.75rem 0 .75rem .75rem;font-size:.75rem;position: relative;color:#000;font-weight:bold;
      &:after{width:.4rem;height:.4rem;content:"";position:absolute;background:#538BFC;left:0;top:1.05rem;}
      span{width:.3rem;height:.3rem;border-top:1px solid #787878;border-right:1px solid #787878;-webkit-transform:rotate(135deg);transform:rotate(135deg);position:absolute;content:"";right: .9rem;top:50%;margin-top:-.3rem;
        &.on{transform: rotate(316deg);-ms-transform: rotate(316deg);-moz-transform: rotate(316deg);-webkit-transform: rotate(316deg);-o-transform: rotate(316deg);}
      }
    }
    dd{line-height:1rem;display: none;font-size:.65rem;padding:0 1rem .5rem 0;
      p{padding:.25rem 0;}
    }
  }
}
.btm_txt{padding:1.125rem;font-size:.65rem;margin-bottom:.5rem;line-height:1rem;color:#666;
  a{color:#666;text-decoration:underline;}
}

.btn_box{padding:1.125rem 1.125rem 1.125rem 0;
  &:after,&:before{content:" ";display:table;clear:both;}
  a{height:1.65rem;line-height:1.65rem;width:47%;text-align: center;border:1px solid #538BFC;.border-radius(@radius:.25rem);font-size:.75rem;
    &.left_btn{float:left;color:#fff;background:#538BFC;}
    &.right_btn{float:right;color:#538BFC;}
  }
}