/*Created by huang.jun on 17-06-17*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ol,
ul,
li {
  list-style: none;
}
body {
  font-family: PingFang SC Regular, sans-serif;
}
.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}
article {
  background: #FFD35E;
}
.img-box {
  font-size: 0;
}
.Bg1 {
  height: 273px;
  background: url("../img/Img1.jpg") no-repeat center 0;
}
.Bg2 {
  height: 250px;
  background: url("../img/Img2.jpg") no-repeat center 0;
}
.Bg3 {
  height: 150px;
  background: url("../img/Img3.jpg") no-repeat center 0;
}
.Bg3 a {
  position: absolute;
  left: 665px;
  top: 17px;
  background: url("../img/Btn.png") no-repeat;
  width: 109px;
  height: 114px;
  z-index: 0;
}
.Bg3 a:hover {
  width: 103px;
  height: 104px;
  background: url("../img/Btn2.png") no-repeat;
  left: 670px;
  top: 26px;
}
.Bg3 a:active {
  opacity: .8;
}
.Bg4 {
  height: 407px;
  background: url("../img/Img4.jpg") no-repeat center 0;
}
.Bg4 span {
  position: absolute;
  width: 250px;
  height: 308px;
  background: url("../img/ewm.png") no-repeat;
  left: 50%;
  margin-left: -125px;
  top: 54px;
}
.Bg4 span img {
  position: absolute;
  left: 20px;
  top: 20px;
}
.prelative {
  position: relative;
  width: 950px;
  margin: 0 auto;
}
