/*Created by huang.jun on 16-04-21*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:"Hiragino Sans GB","Hiragino Sans GB W3",'微软雅黑';color:#0a4148;background:#fff;}

article{background:url(../img/a2.jpg) no-repeat;background-size:100% auto;}
nav{text-align:center;padding-top:2.2rem;}
nav a{display:inline-block;height:1.5rem;line-height:1.5rem;width:3.8rem;background:#FFF109;border-bottom:0.15rem solid #D98061;-moz-border-radius:0.5rem;-webkit-border-radius:0.5rem;border-radius:0.5rem;font-size:0.55rem;font-size:0.6rem; font-weight:bold;color:#000;}
.ImgBox{margin-top:0.7rem;padding:0 0.5rem 0 0.5rem;}
.ImgBox li{margin-top:0.5rem;line-height:0;font-size:0;}
.wrap div{display:none;}
nav a.now{background:#FF9100;}























