.booking_top {
  text-align: center;
  position: relative;
  padding-top: 5rem;
}
.booking_top:after {
  content: "";
  width: 3rem;
  height: 3rem;
  background: url("../img/ok.png") no-repeat;
  background-size: 3rem 3rem;
  position: absolute;
  left: 50%;
  margin-left: -1.5rem;
  top: 1.6rem;
  font-size: .8rem;
}
.book_txt {
  padding: .6rem 2rem 0 2rem;
  font-size: .7rem;
}
.book_txt li {
  line-height: 1rem;
  padding-top: .6rem;
}
