.center-top{height:4.6rem;background:#fff;position:relative;
  img{width:3rem;height:3rem;border:1px solid #ccc;position:absolute;top:.7rem;left:.7rem;.border-radius(@radius:.25rem);}
  dl{padding-left:4.5rem;font-family:PingFang SC Bold, sans-serif;position: relative;
    dt{padding-top:1.1rem;font-size:.8rem;}
    dd{font-size:.7rem;line-height:.7rem;padding-top:.3rem;
      span{padding-right:.8rem;}
    }
  }
  &:after{width:.5rem;height:.5rem;border-top:0.1rem solid #ccc;border-right:0.1rem solid #ccc;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);position:absolute;content:"";right:.7rem;top:50%;margin-top:-0.25rem;}
}

.center-title{padding-left:.7rem;font-size:.8rem;height:1.6rem;line-height:1.6rem;margin-top:.4rem;}
.Order{padding:.7rem;background:#fff;
  dt{font-size:.8rem;line-height:.8rem;position:relative;
    span{position:absolute;right:0;top:0;font-size:.6rem;}
  }
  dd{font-size:.7rem;padding-top:.4rem;
    p{line-height:.7rem;padding-top:.3rem;}
  }
}

.green{color:#37C363;}
.red{color:#DC1D07;}

.AboutUs{background:#fff;margin-top:1rem;position:relative;font-size:.8rem;padding:1rem 0 1rem 3rem;
  img{position:absolute;border:1px solid #ccc;left:.7rem;top:.7rem;width:1.5rem;height:1.5rem;.border-radius(@radius:3rem);}
  &:after{width:.5rem;height:.5rem;border-top:0.1rem solid #ccc;border-right:0.1rem solid #ccc;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);transform:rotate(45deg);position:absolute;content:"";right:.7rem;top:50%;margin-top:-0.25rem;}
}






