.map_box{height:12.15rem;overflow: hidden;}
.map_nav{font-size:0;padding:1rem 0;
  &:after,&:before{content:" ";display:table;clear:both;}
  li{float:left;width:20%;margin-left:10%;}
}
.map_tab{font-size:.8rem;
  &:after,&:before{content: " ";display: table;clear: both;font-family:PingFang SC Bold, sans-serif;}
  li{float:left;width:50%;text-align: center;line-height:2.5rem;border-bottom:3px solid #ccc;
    &.cur{border-bottom:3px solid #5793FF;}
  }
}
.map_content{padding:0 .7rem;
  dl{display:none;
    dt{font-size:.8rem;font-family:PingFang SC Bold, sans-serif;font-weight:bold;padding-top:1rem;}
    dd{font-size:.7rem;
      p{line-height:1rem;margin-top:.4rem;}
    }
  }
}
a:active{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

