.presentation{padding:0 .5rem;
  .presentation_title{font-size:1rem;line-height:1.4rem;padding-top:1rem;}
  .presentation_content{padding-top:.5rem;
    p{font-size:.7rem;line-height:1rem;margin-top:.5rem;}
  }
}














