/*Created by huang.jun on  18-10-13*/
*{margin:0;padding:0;}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;
  &:active{opacity:.7;}
}
ol,ul,li{list-style:none;}
body{font-family:PingFang SC Regular,sans-serif;}
.shadow{width:100%;height:100%;position:fixed;z-index:20;background:#000;opacity:.8;top:0;left:0;}
.img-box{font-size:0;
  img{width:100%;}
}
//四角的半径定制.border-radius-custom(20px, 20px, 0px, 0px);
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}
//方块阴影.box-shadow(5px, 5px, 6px, 0.3);
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: .5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
//圆角.border-radius(@radius:5px)
.border-radius(@radius:5px){
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
//input默认字体.placeholder({color:#666;});
.placeholder(@a){
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}
//线性渐变.gradient(left, #663333, #333333);
.gradient(@origin:left,@start:#fff,@stop:#000){
  background-color:@start;
  background-image:-webkit-linear-gradient(@origin,@start,@stop);
  background-image:-moz-linear-gradient(@origin,@start,@stop);
  background-image:-o-linear-gradient(@origin,@start,@stop);
  background-image:-ms-linear-gradient(@origin,@start,@stop);
  background-image:linear-gradient(@origin,@start,@stop);
}
//清除浮动
.ClearBox{
  &:after,&:before{content: " ";display: table;clear: both;}
}

.Region_Tab{height:2rem;background:#fff;
  li{float:left;width:20%;height:2rem;line-height:2rem;text-align:center;font-size:.8rem;color:#602ac2;
    &.on{color:#fff;background:#9D2EBB;}
  }
}
.Region_List{display:none;background:#9D2EBB;.ClearBox;padding:.3rem 0 .9rem 0;
  li{float:left;width:2.65rem;height:1.1rem;line-height:1.1rem;border:1px solid #C185D3;text-align:center;font-size:.7rem;.border-radius(@radius:.15rem);margin:.6rem 0 0 .9rem;
    a{color:#C185D3;}
    &.CityOn{background:#fff;
     a{color:#602ac2;}
    }
  }
}

.LineBox{.gradient(top,#B628A4,#D9237D);padding-top:.3rem;padding-bottom:1.45rem;
  ul{padding:0 .75rem;
    li{padding-top:.65rem;
      .line{display:block;background:#fff;height:2rem;line-height:2rem;.border-radius(@radius:2rem);.box-shadow(0,0,.5rem,.05);
        strong{font-size:.8rem;font-weight:normal;padding-left:.75rem;color:#6642da;position:relative;
          i{font-style:normal;width:2.775rem;height:.975rem;line-height:.975rem;text-align:center;color:#fff;background:url("../img/biaoqian.jpg") no-repeat;background-size:100% 100%;font-size:.65rem;position:absolute;right:-3rem;top:-.3rem;}
        }
        span{float:right;width:6.75rem;height:1.5rem;line-height:1.5rem;.border-radius(@radius:2rem);background:#6642DA;color:#fff;font-size:.8rem;text-align:center;margin:.25rem .25rem 0 0;}
      }
      .MoreBtn{display:block;height:2rem;line-height:2rem;background:#fff;.border-radius(@radius:2rem);text-align:center;font-size:.8rem;color:#6642da;.box-shadow(0,0,.5rem,.05);
        span{font-family:"SimSun";}
      }
    }
  }
  .RuleBox{min-height:7.525rem;background:url("../img/RuleTopBg.png") no-repeat;background-size:100% 100%;margin:1.45rem .7rem 0 .7rem;padding:3.35rem 1.55rem 0 .9rem;position:relative;
    p{font-size:.65rem;color:#5149db;line-height:.85rem;margin-top:.2rem;padding-left:.45rem;position:relative;
      &:after{content:"";position:absolute;width:.2rem;height:.2rem;background:#5149DB;left:0;top:.3rem;.border-radius(@radius:2rem);}
    }
  }
}