/*Created by huang.jun on 16-05-31*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:Hiragino Sans GB;background:#801831;}

.top-bg{height:4.2rem;color:#fff; text-align:center;}
