.top-bg img{ position:absolute;left:0;top:0;}
.top-bg h2{font-size:0.56rem;line-height:0.6rem;font-weight:normal;padding-top:1rem;}
.top-bg h1{font-size:0.86rem;line-height:0.9rem;padding-top:0.01rem;}
.top-bg h3{font-size:0.24rem;line-height:0.3rem;font-weight:normal;padding:0.12rem 0 0 2.4rem;width:2.6rem; opacity:0.6;}

.btn-Box{padding-top:0.48rem;}
.btn{width:5.6rem;height:0.88rem;line-height:0.88rem;text-align:center;display:block;background:#E9B000;font-size:0.42rem;-moz-border-radius:0.2rem;-webkit-border-radius:0.2rem;border-radius:0.2rem;color:#772135;margin:0 auto;}
.btn:active{ opacity:0.8;}
.txt-list{font-size:0.26rem;margin:0 auto;min-height:6.4rem;padding:0.3rem 0.3rem 0 0.3rem;}
.txt-list dt,.txt-list dd{padding-left:0.34rem;}
.txt-list dt{color:#e8af27;padding-top:0.3rem;}
.txt-list dd{color:#fff;line-height:0.3rem;margin-top:0.1rem;position:relative;}
.txt-list dd:after{position:absolute;content:"";width:0.26rem;height:0.25rem;background:url(../img/start.png) no-repeat;background-size:0.26rem 0.25rem;left:0;top:0;}
.btm-txt{color:#b87c76;font-size:0.26rem;text-align:center;padding-top:0.48rem;line-height:0.4rem;padding-bottom:0.2rem;}
.Black-Lay{background:rgba(1,1,1,0.6);height:4.2rem; position:relative;}
.Icon-Bg{background:url(../img/icon.png) no-repeat center center;background-size:cover;height:4.2rem;position:relative;}


















