.Lottery {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/LotteryBg.jpg") no-repeat;
  background-size: 100% 100%;
}
.LotteryTitle {
  position: absolute;
  width: 80%;
  left: 50%;
  margin-left: -40%;
  top: 3rem;
}
.light {
  width: 100%;
  height: 24.725rem;
  position: absolute;
  background: url("../img/light.png") no-repeat;
  background-size: 100% 100%;
  left: 0;
  bottom: 3.825rem;
  z-index: 2;
  animation: Amlight .5s infinite linear;
}
.LotteryBox {
  width: 16.15rem;
  height: 17.175rem;
  position: absolute;
  background: url("../img/LotteryBox.png") no-repeat;
  background-size: 100% 100%;
  z-index: 3;
  bottom: 4.9rem;
  left: 50%;
  margin-left: -8.075rem;
}
.LotteryBox h4 {
  text-align: center;
  color: #ffe1a7;
  font-size: .65rem;
  font-weight: normal;
  width: 100%;
  position: absolute;
  bottom: 13.05rem;
}
.LotteryBox i:nth-of-type(1) {
  left: 1.1rem;
  top: 4.225rem;
}
.LotteryBox i:nth-of-type(2) {
  left: 2.275rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(3) {
  left: 3.55rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(4) {
  left: 4.7rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(5) {
  left: 5.95rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(6) {
  left: 7.15rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(7) {
  left: 8.425rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(8) {
  left: 9.55rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(9) {
  left: 10.85rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(10) {
  left: 11.975rem;
  top: 4.175rem;
}
.LotteryBox i:nth-of-type(11) {
  left: 13.2rem;
  top: 4.45rem;
}
.LotteryBox i:nth-of-type(12) {
  left: 13.8rem;
  top: 5.375rem;
}
.LotteryBox i:nth-of-type(13) {
  left: 13.8rem;
  top: 6.575rem;
}
.LotteryBox i:nth-of-type(14) {
  left: 13.8rem;
  top: 7.775rem;
}
.LotteryBox i:nth-of-type(15) {
  left: 13.8rem;
  top: 9.025rem;
}
.LotteryBox i:nth-of-type(16) {
  left: 13.575rem;
  top: 10.125rem;
}
.LotteryBox i:nth-of-type(17) {
  left: 12.6rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(18) {
  left: 11.4rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(19) {
  left: 10.175rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(20) {
  left: 8.975rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(21) {
  left: 7.75rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(22) {
  left: 6.55rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(23) {
  left: 5.325rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(24) {
  left: 4.125rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(25) {
  left: 2.9rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(26) {
  left: 1.7rem;
  top: 10.6rem;
}
.LotteryBox i:nth-of-type(27) {
  left: .7rem;
  top: 9.925rem;
}
.LotteryBox i:nth-of-type(28) {
  left: .7rem;
  top: 8.725rem;
}
.LotteryBox i:nth-of-type(29) {
  left: .7rem;
  top: 7.55rem;
}
.LotteryBox i:nth-of-type(30) {
  left: .7rem;
  top: 6.35rem;
}
.LotteryBox i:nth-of-type(31) {
  left: .7rem;
  top: 5.225rem;
}
.LotteryBtn {
  position: absolute;
  width: 9.15rem;
  height: 2.075rem;
  background: url("../img/LotteryButton.png") no-repeat;
  background-size: 100% 100%;
  left: 3.56rem;
  top: 12.2rem;
}
.Icon1 {
  width: 1.65rem;
  height: 1.125rem;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../img/Icon1.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.Icon2 {
  width: 3.1rem;
  height: 1.125rem;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/Icon2.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.Icon3 {
  width: 1.925rem;
  height: 1.95rem;
  position: absolute;
  left: 0;
  top: 6.125rem;
  background: url("../img/Icon3.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.Icon4 {
  width: 1.25rem;
  height: 1.575rem;
  position: absolute;
  right: 0;
  top: 1.4rem;
  background: url("../img/Icon4.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.Icon5 {
  width: 2.45rem;
  height: 1.325rem;
  position: absolute;
  left: 8.5rem;
  top: -0.5rem;
  margin-left: 2rem;
  background: url("../img/Icon5.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.Icon6 {
  width: 1.975rem;
  height: 3.875rem;
  position: absolute;
  left: 0;
  top: 20.6rem;
  background: url("../img/Icon6.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.Icon7 {
  width: 1.35rem;
  height: 2.825rem;
  position: absolute;
  right: 0;
  top: 20.6rem;
  background: url("../img/Icon7.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.Icon8 {
  width: 1.85rem;
  height: 2.45rem;
  position: absolute;
  right: .5rem;
  top: 12rem;
  background: url("../img/Icon8.png") no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.lamp1,
.lamp2 {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
}
.lamp1 {
  background: url("../img/lamp1.png") no-repeat;
  background-size: 100% 100%;
  animation: AmLamp1 .5s infinite linear alternate;
}
.lamp2 {
  background: url("../img/lamp2.png") no-repeat;
  background-size: 100% 100%;
  animation: AmLamp2 .5s infinite linear alternate;
}
.container {
  position: relative;
}
.container .num {
  width: 3.8rem;
  height: 4.55rem;
  position: absolute;
  top: 5.85rem;
  overflow: hidden;
}
.container .num span {
  color: #FFA3BA;
  font-size: .65rem;
  position: absolute;
  right: .2rem;
  bottom: .2rem;
}
.container .num1 {
  left: 2.2rem;
}
.container .num2 {
  left: 6.1rem;
}
.container .num3 {
  left: 10rem;
}
.container .num-img {
  width: 3.8rem;
  height: 45.5rem;
  background: url("../img/lw.png") no-repeat;
  background-size: 3.8rem 45.5rem;
}
.container .num-con {
  position: relative;
}
.container .inverse {
  -webkit-animation: inverse 1s 0s forwards;
}
.container .Positive {
  -webkit-animation: Positive 1s 0s forwards;
}
@keyframes AmLamp1 {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes AmLamp1 {
  /* Firefox */
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes AmLamp1 {
  /* Safari 和 Chrome */
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes AmLamp1 {
  /* Opera */
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
@keyframes AmLamp2 {
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
@-moz-keyframes AmLamp2 {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
@-webkit-keyframes AmLamp2 {
  /* Safari 和 Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
@-o-keyframes AmLamp2 {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
@keyframes Amlight {
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
@-moz-keyframes Amlight {
  /* Firefox */
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
@-webkit-keyframes Amlight {
  /* Safari 和 Chrome */
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
@-o-keyframes Amlight {
  /* Opera */
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
