/*Created by huang.jun on 18-2-1*/
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;
  &:active{opacity:.7;}
}
button:active{opacity:.7;}
ol,ul,li{list-style:none;}
body{font-family:PingFang-SC-Regular,sans-serif;-webkit-text-size-adjust: 100% !important;text-size-adjust: 100% !important;-moz-text-size-adjust: 100% !important;color:#333;}
.shadow{width:100%;height:100%;position:fixed;z-index:20;background:#000;opacity:.6;top:0;left:0;display:none;}
.img-box{font-size:0;
  img{width:100%;}
}
//四角的半径定制.border-radius-custom(20px, 20px, 0px, 0px);
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}
//方块阴影.box-shadow(5px, 5px, 6px, 0.3);
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: .5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
//圆角.border-radius(@radius:5px)
.border-radius(@radius:5px){
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
//input默认字体.placeholder({color:#666;});
.placeholder(@a){
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}
//线性渐变.gradient(left, #663333, #333333);
.gradient(@origin:left,@start:#fff,@stop:#000){
  background-color:@start;
  background-image:-webkit-linear-gradient(@origin,@start,@stop);
  background-image:-moz-linear-gradient(@origin,@start,@stop);
  background-image:-o-linear-gradient(@origin,@start,@stop);
  background-image:-ms-linear-gradient(@origin,@start,@stop);
  background-image:linear-gradient(@origin,@start,@stop);
}
//清除浮动
.ClearBox{
  &:after,&:before{content: " ";display: table;clear:both;}
}
/**********************index************************/
.TopNav{height:2rem;z-index:100;position:absolute;width:100%;
  .Logo{width:4.575rem;height:.775rem;background:url("../img/Logo.png") no-repeat;background-size:100% 100%;float:left;margin:.625rem 0 0 .925rem;}
  .Menu{width:.85rem;height:.7rem;background:url("../img/Nav.png") no-repeat;background-size:100% 100%;float:right;margin:.675rem .85rem 0 0;
    &:active{opacity:.7;}
  }
}
.TopBanner{.img-box;position:relative;
  .ButtonBtn{opacity:0;position:absolute;left:32%;top:42%;width:39%;height:9.3%;
    img{height:100%;}
  }
}
.FeaturesTitle{.img-box;text-align:center;
  img{width:2.875rem;margin-top:.75rem;}
}
.FeaturesList{.ClearBox;padding-bottom:4rem;
  li{float:left;text-align:center;margin-top:1.7rem;width:50%;
    strong,span,i{display:block;}
    i{margin:0 auto;height:2rem;}
    strong{font-size:.7rem;line-height:.7rem;font-family:PingFang-SC-Heavy,"Tahoma",sans-serif;font-weight: normal;}
    span{font-family:PingFang,"Tahoma",sans-serif;font-size:.6rem;line-height:.6rem;margin-top:.2rem;color:#666;}
    &.Icon1{
      i{width:1.7rem;background:url("../img/Icon1.png") no-repeat;background-size:1.7rem 1.275rem;}
    }
    &.Icon2{
      i{width:1.8rem;background:url("../img/Icon2.png") no-repeat;background-size:1.8rem 1.35rem;}
    }
    &.Icon3{
      i{width:1.45rem;background:url("../img/Icon4.png") no-repeat;background-size:1.45rem 1.45rem;}
    }
    &.Icon4{
      i{width:1.3rem;background:url("../img/Icon3.png") no-repeat;background-size:1.3rem 1.35rem;}
    }
    &.Icon5{
      i{width:1.475rem;background:url("../img/Icon5.png") no-repeat;background-size:1.475rem 1.125rem;}
    }
    &.Icon6{
      i{width:1.65rem;background:url("../img/Icon6.png") no-repeat;background-size:1.65rem 1.2rem;}
    }
  }
}
.BottomBg{height:2rem;background:#494D56;.img-box;
  .sLogo1{float:left;width:1rem;margin:.5rem 0 0 .85rem;}
  .sLogo2{float:left;width:1rem;margin:.5rem 0 0 .5rem;}
  .sLogo3{float:right;width:1.875rem;margin:.6rem 1.35rem 0 0;}
  .sLogo4{float:right;width:2.675rem;margin:.5rem 1rem 0 0;}
  .sLogo5{float:right;width:2.25rem;margin:.725rem .9rem 0 0;}
}
.MenuList{position: absolute;left:0;width:100%;top:2rem;z-index:20;background:#3A91FF;font-family:HelveticaNeue,"Tahoma";font-size:.7rem;display:none;
  li{height:2.5rem;line-height:2.5rem;
    a{display:block;padding-left:1.1rem;line-height:2.5rem;color:#fff;}
    &.on{background:#fff;
      a{color:#3C8FFF;}
    }
  }
}
/**************************aboutus***************************/
.TopBanner2{.img-box;background:#3E97FF;
  dl{margin-top:1rem;
    dt{height:.95rem;background:url("../img/TxtTitle.png") no-repeat center bottom;background-size:10.5rem .95rem;}
    dd{color:#fff;font-size:.6rem;line-height:.85rem;padding:1rem;font-family:HelveticaNeue-Light,"Tahoma";}
  }
}
.ArticleBox{padding:0 1rem 0 1rem;.img-box;
  dt{height:1.4rem;margin-top:1.5rem;
    &.t1{background:url("../img/Title1.png") no-repeat center bottom;background-size:7.55rem 1.4rem;}
    &.t2{background:url("../img/Title2.png") no-repeat center bottom;background-size:6.325rem 1.4rem;}
    &.t3{background:url("../img/Title3.png") no-repeat center bottom;background-size:4.075rem 1.4rem;}
  }
  dd{font-size:.65rem;color:#666;margin-top:.7rem;text-align:center;
    p{line-height:.95rem;margin-bottom:2.1rem;text-align:left;font-family:HelveticaNeue-Light,"Tahoma";}
    &:nth-of-type(1) img{width:9.775rem;}
    &:nth-of-type(2) img{width:11.6rem;}
  }
}
/***********************help************************************/
.TopBor{height:2rem;background:#3E97FF;}
.QuestionsTop{margin-top:.625rem;background:#fff;padding:1rem;
  h3{height:1.45rem;background:url("../img/TopTitle.png") no-repeat left bottom;background-size:9.05rem 1.45rem;}
  p{font-size:.7rem;line-height:.95rem;color:#4e87fb;font-family:HelveticaNeue,"Tahoma";margin-top:.8rem;
    &:nth-of-type(1){margin-top:.75rem;}
  }
}
.QuestionsBtm{margin-top:.5rem;background:#fff;
  dl{border-top:1px solid #EAEAEA;padding:1.25rem 1.05rem;
    dt{font-size:.75rem;line-height:1rem;color:#4e87fb;font-family:HelveticaNeue-Bold,"Tahoma";}
    dd{font-size:.65rem;line-height:.95rem;font-family:HelveticaNeue-Light,"Tahoma";
      p{margin-top:1rem;
        span{color:#4e87fb;padding-right:.3rem;}
      }
    }
    &:nth-of-type(1){border:0;}
  }
}
.SubmitBox{padding:1.1rem;background:#fff;margin-top:.5rem;
  h3{height:1.45rem;background:url("../img/TopTitle2.png") no-repeat;background-size:3.725rem 1.45rem;}
  .SubmitList{
    dt{font-family:HelveticaNeue,"Tahoma";font-size:.65rem;line-height:.65rem;margin-top:.8rem;}
    dd{margin-top:.85rem;.img-box;}
  }
}

input[type="text"]{
  -webkit-appearance: none;
}
textarea{
  -webkit-appearance: none;
}


