/*Created by huang.jun on 17-06-17*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:PingFang SC Medium,sans-serif;}
.shadow{width:100%;height:100%;position:fixed;z-index:2;background:#000;opacity:0.7;top:0;left:0;}
article{background:#fff;height:100%;position: absolute;width:100%}
.border-radius(@radius:5px){
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
.img-box{font-size:0;}
.placeholder(@a){
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}

.Input_Box{padding:0 1.6rem;
  .Input_Mob{height:1.9rem;line-height:normal;text-indent:.5rem;font-size:.75rem;-webkit-appearance: none;border-radius:0;border:0;width:100%;
    .placeholder({color:#666;});
  }
  .Input_Msg{.Input_Mob}
  li{position: relative;
    &:nth-of-type(1){margin-top:.25rem;border:1px solid #ccc;}
    &:nth-of-type(2){}
    &:nth-of-type(3){}
    &:nth-of-type(4){margin-top:.7rem;
      .Input_Message{.Input_Mob;}border:1px solid #ccc;
    }
    &:nth-of-type(5){padding-top:.7rem;
      .Orange_Btn{height:2.15rem;line-height:2.15rem;text-align:center;color:#fff;font-size:.75rem;background-image:-webkit-linear-gradient(315deg,#ff7e00,#ff930e);display:block;}
    }
  }
}

.Top_Box{height:7.45rem;background:url("../img/Top_Bg.jpg") no-repeat;background-size:100% 100%;color:#fff;text-align:center;
  h2{font-size:1.5rem;line-height:1.5rem;padding-top:1.75rem;}
  p{font-size:.65rem;padding-top:.8rem;}
}
.coupon{padding-top:.45rem;}
.coupon_btn{width:15.625rem;height:4.65rem;background:url("../img/yhq.png") no-repeat;background-size:100% 100%;margin:.5rem auto 0 auto;color:#fff;
  dt{float:left;width:11.95rem;
    div{padding-left:.9rem;
      &:after,&:before{content: " ";display: table;clear: both;}
      span{font-size:0.775rem;float:left;padding-top:1.6rem;line-height:0.775rem;}
      strong{font-size:2.25rem;line-height:2.25rem;font-family:PingFang SC Bold,sans-serif;float:left;padding-top:.4rem;padding-left:.05rem;}
      b{float:left;font-size:1.05rem;line-height:1.05rem;font-family:PingFang SC Bold,sans-serif;font-weight: normal;padding:1.4rem 0 0 .4rem;}
    }
    p{font-size:.8rem;line-height:.8rem;padding-top:.5rem;padding-left:.9rem;}
  }
  dd{float:right;width:3.625rem;text-align: center;line-height:1.3rem;letter-spacing:.1rem;padding-top:1.1rem;}
}

.btn_box{padding-top:.95rem;
  a{height:2.2rem;line-height:2.2rem;text-align:center;color:#fff;font-size:.75rem;background-image:-webkit-linear-gradient(315deg,#ff7e00,#ff930e);display:block;width:15.625rem;margin:0 auto;}
}
.smsCode{position:absolute;left:0;top:0;height:1.9rem;line-height:1.9rem;text-align:center;width:100%;}