/*Created by huang.jun on 16-04-12*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:Microsoft YaHei;}

div{position:relative;}
a{position:absolute;width:3.285024154589372rem;height:1.024154589371981rem;line-height:1.024154589371981rem;background:#FDAB35;border:0.0579710144927536rem solid #532B18;font-size:0.5797101449275362rem; text-align:center;color:#fff;-moz-border-radius:0.5rem;-webkit-border-radius:0.5rem;border-radius:0.5rem;}
a:active{border-color:#000;}
.rbtn{left:11.4rem;bottom:1rem;}
.btn{top:13rem;left:6.6rem;}

























