/*Created by huang.jun on 16-08-12*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:"Hiragino Sans GB";}
article{width:7.5rem;height:16.62rem;background:url("../img/bg.jpg") no-repeat;background-size:contain;position: relative;}

.button{width:3.67rem;height:0.97rem;background:url("../img/button.png") no-repeat;background-size:contain;position: absolute;margin-left:-1.835rem;left:50%;top:6.98rem;}
.button:active{opacity: 0.8;}
.txtBox{color:#fff7d2;padding:7.9rem 0.3rem 0 0.3rem;}
.txtBox dt{font-size:0.32rem;font-family: "Hiragino Sans GB W6";padding-top:0.2rem;}
.txtBox dd{font-size:0.26rem;}
.txtBox dd p{line-height:0.36rem;margin-top:0.1rem;padding-left:0.26rem;text-indent: -0.26rem;}