*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:"Lucida Grande",Verdana,"Microsoft YaHei",hei;}
.bk1,.bk2,.bk3,.bk4,.bk5,.bk6,.bk7,.bk8{width:7.5rem;position: relative;background-repeat: no-repeat;}
.bk1{background:url("../img/img1.jpg");background-size:7.5rem 5.05rem;height:5.05rem;}
.bk2{background:url("../img/img2.jpg");background-size:7.5rem 3.41rem;height:3.41rem;}
.bk3{background:url("../img/img3.jpg");background-size:7.5rem 4.46rem;height:4.46rem;}
.bk4{background:url("../img/img4.jpg");background-size:7.5rem 2.69rem;height:2.69rem;}
.bk5{background:url("../img/img5.jpg");background-size:7.5rem 2.4rem;height:2.4rem;}
.bk6{background:url("../img/img6.jpg");background-size:7.5rem 2.55rem;height:2.55rem;}
.bk7{background:url("../img/img7.jpg");background-size:7.5rem 2.57rem;height:2.57rem;}
.bk8{background:url("../img/img8.jpg");background-size:7.5rem 1.34rem;height:1.34rem;}
.date{width:5.32rem;position:absolute;left:50%;margin-left:-2.66rem;height:2.73rem;-webkit-animation:bg 3s infinite linear;display:block;background-size:cover;top:0.5rem;}
.title{width:4.73rem;height:1.1rem;position:absolute;left:50%;margin-left:-2.365rem;display:block;background:url(../img/title2.png) no-repeat;background-size:4.73rem 1.1rem;top:0rem;}
.btn{width:3.98rem;height:0.94rem;left:50%;margin-left:-1.99rem;top:1.12rem;background:url("../img/btn.png") no-repeat;background-size:3.98rem 0.94rem;position: absolute;}
.btn:active{background:url("../img/btn2.png") no-repeat;background-size:3.98rem 0.94rem;}
.btn1{width:1.85rem;height:0.58rem;display:block;position: absolute;top:2.22rem;left:4.2rem;}
.txtList{padding-left:1.98rem;font-size:0.24rem;color:#fff;width:5rem;}
.bk5 .txtList{padding-top:0.57rem;}
.bk6 .txtList{padding-top:0.92rem;}
.bk7 .txtList{padding-top:0.72rem;}
.txt{width:6rem;height:0.41rem;background:url("../img/txt.png") no-repeat;background-size:6rem 0.41rem;display:block;position: absolute;left:50%;margin-left:-3rem;top:0.13rem;}
.shadow{width:100%;height:100%;position:fixed;z-index:3;background:#000;opacity:0.88;top:0;left:0;}
.pop-box{font-size:0.24rem;color:#fff;position:fixed;z-index:4;width:6.8rem;border:0.02rem solid #FF7700;left:50%;margin-left:-3.4rem;top:2rem;-moz-border-radius:0.2rem;-webkit-border-radius:0.2rem;border-radius:0.2rem;-webkit-box-shadow: 0 0 0.25rem #ff7e16;}
.pop-box dd{padding:0 0.45rem 0.45rem 0.45rem;}
.pop-box dd p{padding-top:0.3rem;line-height:0.36rem;}
.pop-box dt{padding:0.7rem 0 0 0.45rem;}
.pop-box dt img{width:2.09rem;height:0.35rem;}
.close{display:block;width:0.39rem;height:0.39rem;position: absolute;background:url("../img/close.png") no-repeat;background-size:0.39rem 0.39rem;right:0.26rem;top:0.29rem;}
@-webkit-keyframes bg{
  0%{background:url(../img/date1.png)  no-repeat fixed 0 0/cover;}
  50%{background:url(../img/date3.png)  no-repeat fixed 0 0/cover}
  54%{background:url(../img/date1.png)  no-repeat fixed 0 0/cover}
  58%{background:url(../img/date3.png)  no-repeat fixed 0 0/cover}
  62%{background:url(../img/date1.png)  no-repeat fixed 0 0/cover}
  66%{background:url(../img/date3.png)  no-repeat fixed 0 0/cover}
  70%{background:url(../img/date1.png)  no-repeat fixed 0 0/cover}
  74%{background:url(../img/date3.png)  no-repeat fixed 0 0/cover}
  100%{background:url(../img/date1.png)  no-repeat fixed 0 0/cover}
}





















