*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:Microsoft YaHei;background:url(../img/btm.jpg) no-repeat 0 bottom;background-size:7.5rem 4.22rem;}

@size3:0.3rem;
@color-red:#FF495E;

.borderRadius(@radius){
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
article{padding-bottom:1.43rem;}
.btn{width:3.3rem;height:0.82rem;line-height:0.82rem;text-align:center;color:#fff;font-size:@size3;background:@color-red;display:inline-block;.borderRadius(0.1rem);&:active{opacity:0.8;}}
.btnBox{text-align:center;font-size:0;}
.btmTxt{border:0.03rem dotted #000;font-size:0.22rem;width:5.7rem;margin:0.1rem auto;padding:0rem 0.2rem 0.2rem 0.2rem;.borderRadius(0.15rem);}
.btmTxt dd{line-height:0.5rem;padding-top:0.2rem;}
.t1{width:0.15rem;height:0.14rem;vert-align:middle;margin-right:0.1rem;}
.t2{width:0.33rem;height:0.25rem;}