*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:"Lucida Grande",Verdana,"Microsoft YaHei",hei;}

.bg{background:url("../img/bg.jpg") no-repeat;background-size:contain;width:7.5rem;height:13.81rem;}
































