/*Created by huang.jun on 17-06-17*/
*{margin:0;padding:0;}
a{ text-decoration:none;
  &:hover{opacity:.8;}
}
ol,ul,li{list-style:none;}
body{font-family:PingFang SC Regular,sans-serif;}
.shadow{width:100%;height:100%;position:fixed;z-index:2;background:#000;opacity:0.7;top:0;left:0;}
article{background:#FFD35E;}
.img-box{font-size:0;}
//四角的半径定制.border-radius-custom(20px, 20px, 0px, 0px);
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}
//方块阴影.box-shadow(5px, 5px, 6px, 0.3);
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
//圆角.border-radius(@radius:5px)
.border-radius(@radius:5px){
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
//input默认字体.placeholder({color:#666;});
.placeholder(@a){
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}
//线性渐变.gradient(left, #663333, #333333);
.gradient(@origin:left,@start:#ffffff,@stop:#000000) {
  background-color:@start;
  background-image:-webkit-linear-gradient(@origin,@start,@stop);
  background-image:-moz-linear-gradient(@origin,@start,@stop);
  background-image:-o-linear-gradient(@origin,@start,@stop);
  background-image:-ms-linear-gradient(@origin,@start,@stop);
  background-image:linear-gradient(@origin,@start,@stop);
}

.WrapBg{background:url("../img/TopImg.jpg") no-repeat center top #2E8BD1;padding-top:413px;}
.WrapBox{width:1000px;margin:0 auto;}
.brief{height:422px;background:url("../img/MapBg.jpg") no-repeat left top #fff;padding-left:457px;
  dt{font-family:PingFang SC Heavy,sans-serif;font-size:54px;line-height:54px;color:#C65B23;padding-top:64px;
    h3{padding-bottom:22px;position:relative;
      &:after{position:absolute;width:120px;height:6px;background:#C65B23;content:"";left:0;bottom:0;}
    }
  }
  dd{font-size:22px;line-height:44px;color:#543b39;width:474px;padding-top:20px;}
}
.Title1{padding:47px 0 36px 0;}
.CityList{background:#fff;padding:20px 0 40px 60px;}
.CityBox{height:48px;margin-top:21px;}
.CityLeft,.Icon,.CityRight,.Time{float:left;color:#543b39;font-weight: normal;}
.CityLeft{width:164px;text-align:center;font-size:26px;line-height:26px;margin-top:11px;}
.Icon{width:66px;height:12px;background:url("../img/Icon.png") no-repeat;margin-top:18px;}
.CityRight{width:202px;text-align:center;font-size:26px;line-height:26px;margin-top:11px;}
.Time{padding-left:40px;font-size:26px;line-height:26px;margin-top:11px;}
.BookBtn{float:right;width:174px;height:48px;line-height:48px;text-align:center;.border-radius(@radius:10px);background:#FF6000;color:#fff;font-size:26px;margin-right:93px;}
.TipsBox{padding-top:21px;}
.TipsList{background:#2073B8;padding-bottom:54px;
  dt{padding:41px 0 0 68px;font-size:40px;color:#fff;}
  dd{font-size:20px;padding-left:157px;
    p{color:#fff;line-height:34px;margin-top:12px;
      &:nth-of-type(1){text-indent:-80px;}
      &:nth-of-type(2){text-indent:-60px;}
      &:nth-of-type(3){text-indent:-120px;}
    }
  }
}
.Title2{padding:60px 0 45px 0;}
.Train{background:#fff;padding:64px 0 55px 33px;}
.TrainBrief{padding-left:468px;position:relative;width:460px;
  img{width:418px;height:237px;position:absolute;left:0;top:0;}
  h3{font-size:54px;line-height:54px;color:#C65B23;}
  h4{font-size:26px;line-height:26px;margin-top:14px;font-weight:normal;padding-bottom:16px;color:#C65B23;position: relative;
    &:after{content:"";width:100px;height:5px;position:absolute;left:0;top:35px;background:#543B39;}
  }
  p{font-size:20px;line-height:30px;margin-top:10px;}
}
.TrainBrief2{padding-right:468px;position:relative;width:460px;margin:56px 0;
  img{width:418px;height:237px;position:absolute;right:0;top:0;}
  h3{font-size:54px;line-height:54px;color:#C65B23;}
  h4{font-size:26px;line-height:26px;margin-top:14px;font-weight:normal;padding-bottom:16px;color:#C65B23;position: relative;
    &:after{content:"";width:100px;height:5px;position:absolute;left:0;top:35px;background:#543B39;}
  }
  p{font-size:20px;line-height:30px;margin-top:10px;}
}









