/*Created by huang.jun on 17-03-21*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{background:#fff;font-family:"PingFang SC Medium","Microsoft YaHei",sans-serif;}

.shadow{width:100%;height:100%;position:fixed;z-index:1;background:#000;opacity:0.6;top:0;left:0;}
.pop-coupon{width:16.35rem;position:absolute;left:50%;margin-left:-8.175rem;z-index:2;}
.coupon-top{width:16.35rem;height:6.925rem;background:url("../img/TopBg.png") no-repeat;background-size:100% 100%;position: relative;}
.coupon-top span{position: absolute;left:8.3rem;top:5rem;color:#fff;font-size:0.75rem;}
.coupon-Wrap{width:13.125rem;background:#fff;padding:0 1.475rem;border-bottom-right-radius:1rem;border-bottom-left-radius:1rem;position: relative;}
.coupon{width:13.125rem;height:5.575rem;background:url("../img/Yhq.png") no-repeat;background-size:100% 100%;}
.coupon dt{float:left;width:4.25rem;text-align:center;color:#FF0000;}
.coupon dt small{font-size:1.3rem;}
.coupon dt big{font-size:2.175rem;}
.coupon dt span{font-size:0.65rem;}
.coupon dt p:nth-of-type(1){line-height:2rem;padding-top:1.4rem;}
.coupon dt p:nth-of-type(2){line-height:0.65rem;}
.coupon dd{float:right;width:8.85rem;}
.coupon dd h3,.coupon dd p{padding:0 0.75rem;}
.coupon dd h3{font-size:0.75rem;color:#000;font-weight: normal;padding-top:1.4rem;}
.coupon dd p{font-size:0.6rem;color:#999;line-height:0.9rem;padding-top:0.1rem;}

.buttonBox{height:2.2rem;}
.btn1{font-size:0.75rem;display:block;width:100%;height:2.2rem;line-height:2.2rem;text-align:center;-moz-border-radius:1rem;-webkit-border-radius:1rem;border-radius:1rem;color:#fff;background-image:-webkit-linear-gradient(180deg, #FF5C00, #FF0400);}
.btn2{font-size:0.75rem;display:block;width:6.15rem;height:2.2rem;line-height:2.2rem;text-align:center;-moz-border-radius:1rem;-webkit-border-radius:1rem;border-radius:1rem;color:#fff;background-image:-webkit-linear-gradient(180deg, #FF5C00, #FF0400);float:left;}

.popBottom{text-align:center;font-size:0.6rem;color:#999;}
.popBottom em{width:0.975rem;height:0.975rem;margin-right:0.375rem;background:url("../img/Icon.png") no-repeat;background-size:100% 100%;display:inline-block;vertical-align: middle;}

.popTxt p{height:0.95rem;line-height:0.95rem;border:1px solid #999;text-align: center;color:#999;font-size:0.6rem;-moz-border-radius:1rem;-webkit-border-radius:1rem;border-radius:1rem;}

.close{width:1.825rem;height:1.825rem;background:url("../img/close.png") no-repeat;background-size:100% 100%;position: absolute;bottom:-3rem;left:50%;margin-left:-0.9125rem;}

