/*Created by huang.jun on 18-2-1*/
*{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;
  &:active{opacity:.7;}
}
button:active{opacity:.7;}
ol,ul,li{list-style:none;}
body{font-family:PingFang-SC-Regular,sans-serif;-webkit-text-size-adjust: 100% !important;text-size-adjust: 100% !important;-moz-text-size-adjust: 100% !important;color:#000;}
.shadow{width:100%;height:100%;position:fixed;z-index:20;background:#000;opacity:.7;top:0;left:0;display:none;}
.img-box{font-size:0;
  img{width:100%;}
}
//四角的半径定制.border-radius-custom(20px, 20px, 0px, 0px);
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}
//方块阴影.box-shadow(5px, 5px, 6px, 0.3);
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: .5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
//圆角.border-radius(@radius:5px)
.border-radius(@radius:5px){
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
//input默认字体.placeholder({color:#666;});
.placeholder(@a){
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}
//线性渐变.gradient(left, #663333, #333333);
.gradient(@origin:left,@start:#fff,@stop:#000){
  background-color:@start;
  background-image:-webkit-linear-gradient(@origin,@start,@stop);
  background-image:-moz-linear-gradient(@origin,@start,@stop);
  background-image:-o-linear-gradient(@origin,@start,@stop);
  background-image:-ms-linear-gradient(@origin,@start,@stop);
  background-image:linear-gradient(@origin,@start,@stop);
}
//清除浮动
.ClearBox{
  &:after,&:before{content: " ";display: table;clear:both;}
}

.swiper-container2{.ClearBox;margin:.75rem 0 0 0;overflow: hidden;
  .swiper-slide{
    .swiper-img{.img-box;position:relative;
      span{height:.65rem;line-height:.65rem;position:absolute;padding:0 .3rem;color:#fff;font-size:.5rem;background:rgba(0,0,0,.55);left:.2rem;top:.15rem;.border-radius(@radius:.65rem);}
    }
    .swiper-introduce{height:2.85rem;background:#fff;padding:0 .25rem;
      dt{font-size:.6rem;line-height:.6rem;padding-top:.45rem;}
      dd{.ClearBox;
        span{float:left;font-family:"PingFangSC-Heavy";font-size:.6rem;line-height:.6rem;color:#ff7e00;margin:.75rem 0 0 0;}
        strong{float:left;font-family:"PingFangSC-Heavy",sans-serif;font-size:1.05rem;line-height:1.05rem;color:#ff7e00;margin:.4rem 0 0 .15rem;}
        small{float:left;font-size:.55rem;line-height:.55rem;color:#999;text-decoration:line-through;margin:.8rem 0 0 .65rem;}
      }
    }
    .swiper-btn{height:1.25rem;line-height:1.25rem;text-align:center;display:block;background:#FF7E00;color:#fff;font-size:.55rem;}
  }
}

.TxtTitle{height:2.9rem;background:url("../img/TitleTxt.png") no-repeat center center;background-size:3.6rem .925rem;}

.CityList1{padding:.5rem 0 .45rem .555rem;background:#fff;.ClearBox;
  li{float:left;margin:.45rem 0 0 .85rem;border:1px solid #ccc;text-align:center;width:2.45rem;height:1.1rem;line-height:1.1rem;color:#7c7c7c;font-size:.65rem;.border-radius(@radius:.15rem);}
}
.CityList2{padding:.5rem 0 .45rem .25rem;background:#fff;.ClearBox;
  li{float:left;margin:.45rem 0 0 .25rem;border:1px solid #ccc;text-align:center;width:4.15rem;height:1.1rem;line-height:1.1rem;color:#7c7c7c;font-size:.65rem;.border-radius(@radius:.15rem);}
}

.PanicBuying{height:3rem;background:#fff;border-bottom:1px solid #ddd;padding-left:1.2rem;
  .left{float:left;width:6.75rem;
    dt{font-size:.6rem;line-height:.6rem;color:#333;margin-top:.7rem;}
    dd{.ClearBox;
      span{display:block;height:.675rem;line-height:.675rem;border:1px solid #19A0F0;float:left; padding:0 .25rem;font-size:.5rem;color:#19A0F0;margin-top:.25rem;.border-radius(@radius:.075rem);}
    }
  }
  .center{float:left;
    dt{float:left;color:#ff7e00;
      span{font-family:PingFangSC-Heavy;font-size:.6rem;line-height:.6rem;float:left;margin:1.25rem 0 0 0;}
      strong{font-family:"PingFangSC-Heavy",sans-serif;font-size:.95rem;line-height:.95rem;float:left;margin:.95rem 0 0 .2rem;}
      small{font-size:.55rem;line-height:.55rem;float:left;margin:1.25rem 0 0 .05rem;}
    }
    dd{float:left;padding:.7rem 0 0 .25rem;
      span{font-size:.55rem;color:#999;text-decoration:line-through;}
    }
  }
  .right{float:right;width:3.5rem;height:1.6rem;line-height:1.6rem;text-align:center;font-size:.7rem;background:#19A0F0;color:#fff;margin:.7rem 1.2rem 0 0;.border-radius(@radius:.25rem);}
}
.more-btn{height:2.2rem;background:#fff;border:0;font-size:.65rem;color:#333;display:block;width:100%;
  span{position:relative;
    &:after{width:.35rem;height:.45rem;content:"";background:url("../img/MoreIcon.png") no-repeat;background-size:100% 100%;position: absolute;right:-.4rem;top:.2rem;}
  }
}
.ad-img{
  li{margin-top:.5rem;.img-box;}
}

.wrapper02 {position:relative;height:2.5rem;width: 100%;overflow: hidden;background:#fff;border-bottom:1px solid #DCDCDC;
  .scroller{position:absolute;
    li{height:2.5rem;color:#333;float: left;line-height:2.5rem;font-size:.8rem;text-align: center;padding:0 .35rem;
      a{color:#333;display:block;margin:0 .3rem;}
      &.cur{position: relative;
        &:after{content:"";background:#19a0f0;height:2px;position: absolute;bottom:0;left:0;width:100%;}
        a{color:#19a0f0;}
      }
    }
  }
}


