/*Created by huang.jun on 17-08-21*/
*{margin:0;padding:0;}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;
  &:active{opacity:.7;}
}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:PingFang SC Medium,sans-serif;}
.shadow{width:100%;height:100%;position:absolute;z-index:2;background:rgba(0, 0, 0, 0.75);display:block;}
.img-box {font-size:0;}

//四角的半径定制.border-radius-custom(20px, 20px, 0px, 0px);
.border-radius-custom(@topleft:5px,@topright:5px,@bottomleft:5px,@bottomright:5px) {
  -webkit-border-radius:@topleft @topright @bottomright @bottomleft;
  -moz-border-radius:@topleft @topright @bottomright @bottomleft;
  border-radius:@topleft @topright @bottomright @bottomleft;
}
//方块阴影.box-shadow(5px,5px,6px,.3);
.box-shadow(@x:0px,@y:3px,@blur:5px,@alpha:.5) {
  -webkit-box-shadow:@x @y @blur rgba(0,68,171,@alpha);
  -moz-box-shadow:@x @y @blur rgba(0,68,171,@alpha);
  box-shadow:@x @y @blur rgba(0,68,171,@alpha);
}
//圆角.border-radius(@radius:5px)
.border-radius(@radius:5px) {
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
//input默认字体.placeholder({color:#666;});
.placeholder(@a) {
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}
//线性渐变.gradient(left, #633, #333);
.gradient(@origin:left,@start:#fff,@stop:#000) {
  background-color:@start;
  background-image:-webkit-linear-gradient(@origin,@start,@stop);
  background-image:-moz-linear-gradient(@origin,@start,@stop);
  background-image:-o-linear-gradient(@origin,@start,@stop);
  background-image:-ms-linear-gradient(@origin,@start,@stop);
  background-image:linear-gradient(@origin,@start,@stop);
}

section{display:none;}
//清除浮动
.ClearBox{
  &:after,&:before{content: " ";display: table;clear: both;}
}
//相对定位
.Relative{position:relative;}

.TopBtn{position:absolute;left:20%;top:0;width:62%;}
.TsBox{background:#F2A852;padding:1.15rem 1.4rem 4.75rem 1.4rem;}
.TsTabBox{padding:.8rem .95rem;background:#F6C462;border-bottom:1px solid #D2730D;border-right:1px solid #D2730D;}
.TsTab{background:#fff;padding:0 .75rem;.border-radius(@radius:.25rem);overflow: hidden;.Relative;
  em{position:absolute;right:0;top:0;width:2.075rem;height:1.525rem;background:url("../img/HotIcon.png") no-repeat;background-size:100% 100%;}
}
.TsTabDecorate{.Relative;height:3.75rem;color:#333;
  i{content:"";height:2px;background:#E0E0E0;position: absolute;top:50%;left:0;width:100%;margin-top:-1px;
    &:after{width:.3rem;height:.3rem;background:#E0E0E0;content:"";position: absolute;left:0;.border-radius(@radius:1rem);top:50%;margin-top:-.15rem;}
    &:before{width:.3rem;height:.3rem;background:#E0E0E0;content:"";position: absolute;right:0;.border-radius(@radius:1rem);top:50%;margin-top:-.15rem;}
  }
  span{font-size:.6rem;line-height:.6rem;position:absolute;top:16%;
    &.TimeLeft{left:25%;margin-left:-8%;}
    &.TimeRight{right:25%;margin-right:-8%;}
  }
  big{border:1px solid #ccc;position: absolute;font-size:.6rem;left:50%;height:.9rem;line-height:.9rem;padding:0 .3rem;margin-left:-7%;.border-radius(@radius:1rem);top:50%;margin-top:-.5rem;background:#fff;}
  b{font-size:.7rem;position:absolute;bottom:.5rem;
    &.TimeLeft{left:0;}
    &.TimeRight{right:0;}
  }
  img{width:.725rem;height:.7rem;position: absolute;top:1.5rem;
    &.IconLeft{left:21%;}
    &.IconRight{right:21%}
  }
}
.TsTabBtn{line-height:.65rem;position:relative;
  a{color:#c37440;font-size:.65rem;padding:.4rem 0 .75rem 1.2rem;display:block;font-weight:bold;
    span{
      img{font-size:0;width:.475rem;vertical-align: middle;margin-left:.1rem;}
    }
  }
  &:after{content:"";width:1rem;height:.8rem;background:url("../img/hand.png") no-repeat;background-size:100% 100%;left:0;top:.2rem;position:absolute;}
}
.more{color:#993300;text-align: center;font-size:.7rem;display:block;
  img{width:.5rem;height:.375rem;vertical-align:middle;margin-left:.2rem;}
}
.active img{
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}
.Fix{position: fixed;bottom:0;width:100%;height:4.15rem;background:rgba(0,0,0,.4);
  .BtmBtn{position: absolute;display:block;width:86%;top:0;left:0;padding:1.5% 7% 0 7%;}
}
#panel{display:none;}
@-webkit-keyframes masked-animation {
  0%{ background-position: 0 0;}
  100% { background-position: -100% 0;}
}