.share{position: absolute;height:100%;width:100%;background:url("../img/Bg.jpg") no-repeat;background-size:100% 100%;}
.shareTit{text-align:center;padding-top:3rem;
  img{width:8.625rem;}
}
input[type="text"] {
  -webkit-appearance: none;
}
.inputList{padding:3rem 1.4rem 0 1.4rem;
  li:nth-of-type(1){border:1px solid #FFE0CD;.border-radius(@radius:.25rem);overflow: hidden;height:1.9rem;}
  li:nth-of-type(2){margin-top:.625rem;}
  li:nth-of-type(3){margin-top:.625rem;
    .ClearBox;
  }
  li:nth-of-type(4){margin-top:2.275rem;}
}
.mobInput{height:1.9rem;border:0;width:100%;font-size:.8rem;text-indent:.9rem;background:none;color:#fff;.placeholder({color:#fff;});}
.YzmInput{width:54%;height:1.9rem;.border-radius(@radius:.25rem);border:1px solid #FFE0CD;font-size:.8rem;text-indent:.9rem;float:left;background:none;color:#fff;.placeholder({color:#fff;});}
.YzmBtn{height:2rem;line-height:2rem;background:url("../img/YzBtn.png");background-size:100% 100%;float:right;width:42%;text-align:center;font-size:.8rem;color:#883800;}
.LingQuBtn{display:block;background:url("../img/dianjichakan.png") no-repeat;background-size:100% 100%;height:2.15rem;line-height:2.15rem;text-align:center;font-size:.8rem;color:#883800;}
.YzmInput::-webkit-input-placeholder { /* WebKit browsers */
  line-height:normal;
}
.mobInput::-webkit-input-placeholder { /* WebKit browsers */
  line-height:normal;
}

.shareBox{display:none;width:15.625rem;height:8.775rem;background:url("../img/shareBg.png") no-repeat;background-size:100% 100%;position:fixed;margin-left:-7.8125rem;margin-top:-4.3875rem;left:50%;top:50%;z-index:3;
  dt{text-align:center;font-size:.8rem;color:#fff;line-height:.8rem;padding-top:1rem;
    p{padding-top:.75rem;}
  }
  dd{text-align: center;padding-top:1.5rem;
    .shareBtn{width:11.75rem;height:2.15rem;line-height:2.15rem;background:url("../img/shareBtn.png") no-repeat;background-size:100% 100%;display:inline-block;text-align: center;font-size:.9rem;color:#873600;}
  }
}

.Coupon{width:15.625rem;height:23.15rem;background:url("../img/CouponBg.png") no-repeat;background-size:100% 100%;position: fixed;z-index:3;left:50%;top:50%;margin-left:-7.8125rem;margin-top:-11.575rem;
  .CouponTitle{text-align: center;padding-top:1.3rem;font-size:0;
    img{width:5.95rem;}
  }
  .CouponList{width:13.55rem;margin:0 auto;font-family:PingFang SC Heavy,sans-serif;padding-top:.5rem;
    .Train{height:3.5rem;background:url("../img/Train.png") no-repeat;background-size:100% 100%;margin-top:.5rem;position:relative;color:#80ad4f;
      strong{font-size:2rem;position:absolute;left:1.5rem;top:.7rem;line-height:2.25rem;font-weight: normal;}
      span{font-size:.65rem;position:absolute;line-height:.65rem;left:5rem;top:2rem;}
    }
    .BB{height:3.5rem;background:url("../img/BB.png") no-repeat;background-size:100% 100%;margin-top:.5rem;position:relative;color:#ff7c62;
      strong{font-size:2rem;position:absolute;left:1.5rem;top:.7rem;line-height:2.25rem;font-weight: normal;}
      span{font-size:.65rem;position:absolute;line-height:.65rem;left:5rem;top:2rem;}
    }
    .Bus{height:3.5rem;background:url("../img/Bus.png") no-repeat;background-size:100% 100%;margin-top:.5rem;position:relative;color:#fa935f;
      strong{font-size:2rem;position:absolute;left:1.5rem;top:.7rem;line-height:2.25rem;font-weight: normal;}
      span{font-size:.65rem;position:absolute;line-height:.65rem;left:5rem;top:2rem;}
    }
    .hire{height:3.5rem;background:url("../img/hire.png") no-repeat;background-size:100% 100%;margin-top:.5rem;position:relative;color:#b53ef0;
      strong{font-size:2rem;position:absolute;left:1.5rem;top:.7rem;line-height:2.25rem; font-weight: normal;}
      span{font-size:.65rem;position:absolute;line-height:.65rem;left:5rem;top:2rem;}
    }
  }
  .CouponBtnBox{padding-top:.8rem;}
  .CouponBtn{display:inline-block;width:13.5rem;height:2.15rem;line-height:2.15rem;background:url("../img/CouponBtn.png") no-repeat;background-size:100% 100%;text-align: center;color:#fff;font-size:.9rem;}
}








