/*Created by huang.jun on 17-08-21*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  opacity: .7;
}
ol,
ul,
li {
  list-style: none;
}
img {
  width: 100%;
}
body {
  font-family: PingFang SC Medium, sans-serif;
}
.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.img-box {
  font-size: 0;
}
section {
  display: none;
}
.ClearBox:after,
.ClearBox:before {
  content: " ";
  display: table;
  clear: both;
}
.Relative {
  position: relative;
}
article {
  background: #4A51DC;
}
.NavBox {
  background: #6B46E3;
  color: #fff;
  height: 2.725rem;
  border-bottom: .075rem solid #AE39D2;
}
.NavBox:after,
.NavBox:before {
  content: " ";
  display: table;
  clear: both;
}
.NavBox li {
  float: left;
  width: 25%;
  text-align: center;
  height: 2.725rem;
}
.NavBox li span {
  font-size: .55rem;
  line-height: .55rem;
  display: block;
  padding-top: .3rem;
}
.NavBox li b {
  font-size: .7rem;
  line-height: .7rem;
  display: block;
  padding-top: .2rem;
}
.NavBox li small {
  font-size: .5rem;
  line-height: .5rem;
  display: block;
  padding-top: .2rem;
}
.NavBox li.on {
  background-color: #EB41B3;
  background-image: -webkit-linear-gradient(left, #EB41B3, #FD775C);
  background-image: -moz-linear-gradient(left, #EB41B3, #FD775C);
  background-image: -o-linear-gradient(left, #EB41B3, #FD775C);
  background-image: -ms-linear-gradient(left, #EB41B3, #FD775C);
  background-image: linear-gradient(left, #EB41B3, #FD775C);
}
.Animation {
  position: relative;
  background: #6263EF;
}
.Animation .Pig {
  width: 13.4%;
  position: absolute;
  left: 68%;
  top: 61.8%;
  z-index: 4;
}
.Animation .Ship {
  width: 15%;
  position: absolute;
  left: 42%;
  top: 88%;
  animation: ShipUpDown 1.5s infinite linear alternate;
}
.Animation .Gold {
  width: 4.5%;
  position: absolute;
  left: 73%;
  top: 62%;
  z-index: 3;
  animation: Gold2UpDown 2s infinite linear alternate;
}
.Animation .GoldBig {
  width: 16%;
  position: absolute;
  left: 2%;
  top: 31%;
  z-index: 1;
  animation: GoldUpDown 1s infinite linear alternate;
}
.Animation .GoldBig2 {
  width: 9%;
  position: absolute;
  left: 80%;
  top: 31%;
  z-index: 1;
  animation: GoldRitUpDown 1.5s infinite linear alternate;
}
.Animation .Parachute {
  width: 6%;
  position: absolute;
  left: 50%;
  top: 47%;
  z-index: 4;
  animation: FlipUpDown 25s infinite linear alternate;
}
.Animation .IconBlock1 {
  width: 10%;
  position: absolute;
  left: 23%;
  top: 31%;
  z-index: 1;
  animation: BlockUpDown 3.5s infinite linear alternate;
}
.Animation .IconBlock2 {
  width: 9%;
  position: absolute;
  left: 85%;
  top: 46%;
  z-index: 1;
  animation: Block2UpDown 4.5s infinite linear alternate;
}
.Animation .IconBlock3 {
  width: 6%;
  position: absolute;
  left: 57%;
  top: 32%;
  z-index: 1;
  animation: Block4UpDown 3.5s infinite linear alternate;
}
.Animation .IconBlock4 {
  width: 6%;
  position: absolute;
  left: 8%;
  top: 55%;
  z-index: 1;
  animation: Block5UpDown 1s infinite linear alternate;
}
.Animation .IconBlock5 {
  width: 6%;
  position: absolute;
  left: 90%;
  top: 65%;
  z-index: 1;
  animation: Block3UpDown 3s infinite linear alternate;
}
.Animation .Bus {
  width: 8%;
  position: absolute;
  left: 56%;
  top: 63%;
  z-index: 1;
  animation: BusUpDown 3s linear infinite;
}
.Animation .Mask {
  width: 35.2%;
  position: absolute;
  left: 38.2%;
  top: 45.1%;
  z-index: 2;
  animation: Mask 3s infinite linear alternate;
}
.Animation .Floor {
  width: 18%;
  position: absolute;
  left: 18%;
  top: 61.6%;
  z-index: 2;
}
.Animation .yuan {
  width: 7.2%;
  position: absolute;
  left: 42.1%;
  top: 28.5%;
  z-index: 3;
  -webkit-border-radius: 12rem;
  -moz-border-radius: 12rem;
  border-radius: 12rem;
  animation: Yuan1 1s infinite linear alternate;
}
.Animation .yuan2 {
  width: 7.2%;
  position: absolute;
  left: 42.1%;
  top: 28.5%;
  z-index: 3;
}
.Animation .yuan3 {
  width: 6%;
  position: absolute;
  left: 32.3%;
  top: 39.3%;
  z-index: 3;
  -webkit-border-radius: 12rem;
  -moz-border-radius: 12rem;
  border-radius: 12rem;
  animation: Yuan2 1.2s infinite linear alternate;
}
.Animation .yuan4 {
  width: 6%;
  position: absolute;
  left: 32.3%;
  top: 39.3%;
  z-index: 3;
}
.Animation .yuan5 {
  width: 6%;
  position: absolute;
  left: 24.3%;
  top: 59.5%;
  z-index: 3;
  -webkit-border-radius: 12rem;
  -moz-border-radius: 12rem;
  border-radius: 12rem;
  animation: Yuan1 1.4s infinite linear alternate;
}
.Animation .yuan6 {
  width: 6%;
  position: absolute;
  left: 24.3%;
  top: 59.5%;
  z-index: 3;
}
.Animation .yuan7 {
  width: 12%;
  position: absolute;
  left: 58.9%;
  top: 39.4%;
  z-index: 3;
  -webkit-border-radius: 12rem;
  -moz-border-radius: 12rem;
  border-radius: 12rem;
  animation: Yuan1 .8s infinite linear alternate;
}
.Animation .yuan8 {
  width: 12%;
  position: absolute;
  left: 58.9%;
  top: 39.4%;
  z-index: 3;
}
.TopBtn {
  background-color: #6263EF;
  background-image: -webkit-linear-gradient(top, #6263EF, #6977F8);
  background-image: -moz-linear-gradient(top, #6263EF, #6977F8);
  background-image: -o-linear-gradient(top, #6263EF, #6977F8);
  background-image: -ms-linear-gradient(top, #6263EF, #6977F8);
  background-image: linear-gradient(top, #6263EF, #6977F8);
}
.TopBtn dt {
  padding-left: 1.05rem;
  color: #fff;
  line-height: .7rem;
}
.TopBtn dt:after,
.TopBtn dt:before {
  content: " ";
  display: table;
  clear: both;
}
.TopBtn dt h1 {
  float: left;
  font-size: .7rem;
  font-weight: normal;
  margin-top: .35rem;
}
.TopBtn dt span {
  float: right;
  display: block;
  line-height: 1rem;
  padding: 0 .3rem;
  background: #4A49BC;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  margin: .15rem 1rem 0 0;
  font-size: .7rem;
}
.TopBtn dd {
  padding: .5rem 0 .5rem .5rem;
}
.TopBtn dd:after,
.TopBtn dd:before {
  content: " ";
  display: table;
  clear: both;
}
.TopBtn dd span {
  float: left;
  width: 5rem;
  height: 1.6rem;
  text-align: center;
  border: .1rem solid #FFF100;
  margin-left: .5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  color: #FFF100;
}
.TopBtn dd span.no {
  background: #FFF100;
  color: #dc4769;
}
.BtnBg {
  position: relative;
}
.BtnBg .BigBtnIcon {
  position: absolute;
  width: 10%;
  left: 84%;
  top: 14%;
  animation: BtnIcon .8s infinite linear alternate;
}
.horn {
  height: 1.35rem;
  background: url("../img/HornIcon.png") no-repeat #5A59E4;
  background-size: 2.075rem 1.375rem;
  margin: .4rem .85rem 0 .85rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.horn ul {
  content: "";
  margin-left: 2.5rem;
  background: #5958E4;
  font-size: .65rem;
  line-height: 1.35rem;
  color: #fff;
}
.CityTab {
  padding-bottom: 2.25rem;
}
.CityNav {
  padding-top: .475rem;
}
.CityNav:after,
.CityNav:before {
  content: " ";
  display: table;
  clear: both;
}
.CityNav li {
  float: left;
  font-size: .9rem;
  color: #fff;
  line-height: .9rem;
  width: 20%;
}
.CityNav li span {
  display: block;
  padding-left: 1.2rem;
  margin: 0 0.2rem;
  padding-bottom: .45rem;
}
.CityNav li.TabActive span {
  border-bottom: .1rem solid #FFD900;
  position: relative;
  color: #FFD900;
}
.CityNav li.TabActive span:after {
  content: "";
  position: absolute;
  left: .4rem;
  top: 0;
  width: .55rem;
  height: .725rem;
  background: url("../img/position.png") no-repeat;
  background-size: 100% 100%;
}
.City_box {
  padding: .25rem .75rem 0 .75rem;
  display: none;
}
.City_box .CityList {
  height: 2rem;
  background: #5660E7;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
  margin-top: .4rem;
}
.City_box .CityList:after,
.City_box .CityList:before {
  content: " ";
  display: table;
  clear: both;
}
.City_box .CityList strong {
  float: left;
  padding-left: .9rem;
  width: 6.5rem;
  font-size: .75rem;
  line-height: 2rem;
  color: #fff;
  font-weight: normal;
}
.City_box .CityList i {
  float: left;
  font-style: normal;
  color: #fff;
  padding-top: .5rem;
  padding-right: .1rem;
  font-size: .75rem;
}
.City_box .CityList b {
  float: left;
  font-size: .9rem;
  line-height: .9rem;
  color: #fff;
  padding-top: .5rem;
  font-weight: normal;
}
.City_box .CityList small {
  float: left;
  font-size: .5rem;
  color: #fff;
  padding-top: .65rem;
  padding-left: .3rem;
}
.City_box .CityList a {
  float: right;
  width: 5.5rem;
  height: 1.65rem;
  line-height: 1.65rem;
  font-size: .75rem;
  background-color: #FB8B75;
  background-image: -webkit-linear-gradient(left, #FB8B75, #EC3C88);
  background-image: -moz-linear-gradient(left, #FB8B75, #EC3C88);
  background-image: -o-linear-gradient(left, #FB8B75, #EC3C88);
  background-image: -ms-linear-gradient(left, #FB8B75, #EC3C88);
  background-image: linear-gradient(left, #FB8B75, #EC3C88);
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  color: #fff;
  text-align: center;
  margin: .18rem .18rem 0 0;
}
.City_box .MoreBtn {
  height: 2rem;
  background: #5660E7;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
  margin-top: .4rem;
  display: block;
  font-size: .75rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
}
@keyframes GoldUpDown {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-moz-keyframes GoldUpDown {
  /* Firefox */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-webkit-keyframes GoldUpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-o-keyframes GoldUpDown {
  /* Opera */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@keyframes GoldRitUpDown {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-moz-keyframes GoldRitUpDown {
  /* Firefox */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-webkit-keyframes GoldRitUpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-o-keyframes GoldRitUpDown {
  /* Opera */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@keyframes BlockUpDown {
  from {
    transform: translateY(2rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@-moz-keyframes BlockUpDown {
  /* Firefox */
  from {
    transform: translateY(2rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@-webkit-keyframes BlockUpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(2rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@-o-keyframes BlockUpDown {
  /* Opera */
  from {
    transform: translateY(2rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@keyframes Block2UpDown {
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
@-moz-keyframes Block2UpDown {
  /* Firefox */
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
@-webkit-keyframes Block2UpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
@-o-keyframes Block2UpDown {
  /* Opera */
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
@keyframes Block3UpDown {
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
@-moz-keyframes Block3UpDown {
  /* Firefox */
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
@-webkit-keyframes Block3UpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
@-o-keyframes Block3UpDown {
  /* Opera */
  from {
    transform: translateY(1.5rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}
@keyframes Block4UpDown {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@-moz-keyframes Block4UpDown {
  /* Firefox */
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@-webkit-keyframes Block4UpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@-o-keyframes Block4UpDown {
  /* Opera */
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(-1rem);
  }
}
@keyframes Block5UpDown {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-moz-keyframes Block5UpDown {
  /* Firefox */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-webkit-keyframes Block5UpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@-o-keyframes Block5UpDown {
  /* Opera */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}
@keyframes Gold2UpDown {
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-3rem);
  }
}
@-moz-keyframes Gold2UpDown {
  /* Firefox */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-3rem);
  }
}
@-webkit-keyframes Gold2UpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-3rem);
  }
}
@-o-keyframes Gold2UpDown {
  /* Opera */
  from {
    transform: translateY(0.5rem);
  }
  to {
    transform: translateY(-3rem);
  }
}
@keyframes ShipUpDown {
  from {
    transform: translateY(0);
    width: 15%;
  }
  to {
    transform: translateY(-0.3rem);
    width: 17%;
  }
}
@-moz-keyframes ShipUpDown {
  /* Firefox */
  from {
    transform: translateY(0);
    width: 15%;
  }
  to {
    transform: translateY(-0.3rem);
    width: 17%;
  }
}
@-webkit-keyframes ShipUpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateY(0);
    width: 15%;
  }
  to {
    transform: translateY(-0.3rem);
    width: 17%;
  }
}
@-o-keyframes ShipUpDown {
  /* Opera */
  from {
    transform: translateY(0);
    width: 15%;
  }
  to {
    transform: translateY(-0.3rem);
    width: 17%;
  }
}
@keyframes FlipUpDown {
  0% {
    transform: translateX(12rem);
    width: 8%;
  }
  50% {
    transform: translateY(-4rem);
    width: 3%;
  }
  100% {
    transform: translateX(-14rem);
    width: 8%;
  }
}
@-moz-keyframes FlipUpDown {
  /* Firefox */
  0% {
    transform: translateX(12rem);
    width: 8%;
  }
  50% {
    transform: translateY(-4rem);
    width: 3%;
  }
  100% {
    transform: translateX(-14rem);
    width: 8%;
  }
}
@-webkit-keyframes FlipUpDown {
  /* Safari 和 Chrome */
  0% {
    transform: translateX(12rem);
    width: 8%;
  }
  50% {
    transform: translateY(-4rem);
    width: 3%;
  }
  100% {
    transform: translateX(-14rem);
    width: 8%;
  }
}
@-o-keyframes FlipUpDown {
  /* Opera */
  0% {
    transform: translateX(12rem);
    width: 8%;
  }
  50% {
    transform: translateY(-4rem);
    width: 3%;
  }
  100% {
    transform: translateX(-14rem);
    width: 8%;
  }
}
@keyframes BusUpDown {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-8rem) translateY(4.4rem);
  }
}
@-moz-keyframes BusUpDown {
  /* Firefox */
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-8rem) translateY(4.4rem);
  }
}
@-webkit-keyframes BusUpDown {
  /* Safari 和 Chrome */
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-8rem) translateY(4.4rem);
  }
}
@-o-keyframes BusUpDown {
  /* Opera */
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-8rem) translateY(4.4rem);
  }
}
@keyframes Yuan1 {
  from {
    background: #FE3157;
  }
  to {
    background: #F3664B;
  }
}
@-moz-keyframes Yuan1 {
  /* Firefox */
  from {
    background: #FE3157;
  }
  to {
    background: #F3664B;
  }
}
@-webkit-keyframes Yuan1 {
  /* Safari 和 Chrome */
  from {
    background: #FE3157;
  }
  to {
    background: #F3664B;
  }
}
@-o-keyframes Yuan1 {
  /* Opera */
  from {
    background: #FE3157;
  }
  to {
    background: #F3664B;
  }
}
@keyframes Yuan2 {
  from {
    background: #FE3157;
  }
  to {
    background: #F3664B;
  }
}
@-moz-keyframes Yuan2 {
  /* Firefox */
  from {
    background: #FE3157;
  }
  to {
    background: #F3664B;
  }
}
@-webkit-keyframes Yuan2 {
  /* Safari 和 Chrome */
  from {
    background: #FE3157;
  }
  to {
    background: #F3664B;
  }
}
@-o-keyframes Yuan2 {
  /* Opera */
  from {
    background: #FE3157;
  }
  to {
    background: #F3664B;
  }
}
@keyframes BtnIcon {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
@-moz-keyframes BtnIcon {
  /* Firefox */
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
@-webkit-keyframes BtnIcon {
  /* Safari 和 Chrome */
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
@-o-keyframes BtnIcon {
  /* Opera */
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.2, 1.2);
  }
}
