.PaymentBg{background:url("../img/Bg.png") no-repeat;background-size:100% auto;position: absolute;width:100%;height:100%;}
.PaymentBox{text-align:center;color:#fff;padding-top:5.65rem;
  dt{
    div{font-size:0;}
    img{width:3.325rem;}
    p{font-size:.9rem;line-height:.9rem;padding-top:.75rem;}
  }
  dd{font-size:.65rem;padding-top:2.1rem;line-height:1.2rem;}
}









