/*Created by huang.jun on 17-09-21*/
*{margin:0;padding:0;}
a{text-decoration:none;-webkit-tap-highlight-color:transparent;
  &:active{opacity:.7;}
}
ol,ul,li{list-style:none;}
body{font-family:PingFang SC Regular,sans-serif;}
.shadow{width:100%;height:100%;position:fixed;z-index:2;background:#000;opacity:.7;top:0;left:0;}
.img-box{font-size:0;}
//四角的半径定制.border-radius-custom(20px, 20px, 0px, 0px);
.border-radius-custom (@topleft: 5px, @topright: 5px, @bottomleft: 5px, @bottomright: 5px) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}
//方块阴影.box-shadow(5px, 5px, 6px, 0.3);
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
  -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
//圆角.border-radius(@radius:5px)
.border-radius(@radius:5px){
  -webkit-border-radius:@radius;
  -moz-border-radius:@radius;
  border-radius:@radius;
}
//input默认字体.placeholder({color:#666;});
.placeholder(@a){
  &::-webkit-input-placeholder{@a();}
  &:-moz-placeholder{@a();}
  &::-moz-placeholder{@a();}
  &:-ms-input-placeholder{@a();}
}
//线性渐变.gradient(left, #663333, #333333);
.gradient(@origin:left,@start:#ffffff,@stop:#000000){
  background-color:@start;
  background-image:-webkit-linear-gradient(@origin,@start,@stop);
  background-image:-moz-linear-gradient(@origin,@start,@stop);
  background-image:-o-linear-gradient(@origin,@start,@stop);
  background-image:-ms-linear-gradient(@origin,@start,@stop);
  background-image:linear-gradient(@origin,@start,@stop);
}
//清除浮动
.ClearBox{
  &:after,&:before{content: " ";display: table;clear: both;}
}
article{background:#FB3367;padding-bottom:2.5rem;}

.AnimationBox{.img-box;position:relative;overflow:hidden;
  img{width:100%;
    &.Am1{width:10%;position:absolute;left:12%;top:10%;animation: Block2UpDown 2s infinite linear alternate;}
    &.Am2{width:13%;position:absolute;left:76%;top:15%;animation: Block3UpDown 1s infinite linear alternate;}
    &.Am3{width:32%;position:absolute;left:0;top:88%;animation: Train 3s linear infinite;}
  }
}

.TitleImg1{.img-box;
  img{width:100%;}
}

.YellowBox{background:#FCD343;margin:0 2.7%;}
.CountDown{height:2rem;background:#FFE487;padding-left:.5rem;
  span{float:left;
    &.txt1{font-size:.65rem;line-height:2rem;padding:0 .2rem;}
    &.time1{width:1.65rem;height:1.25rem;line-height:1.25rem;text-align:center;background:#FFF7DB;.border-radius(@radius:.125rem);font-size:.8rem;color:#fb3367;font-weight:bold;margin-top:.375rem;}
    &.txt2{.txt1;}
    &.time2{.time1;}
    &.txt3{.txt1;}
    &.time3{.time1;}
    &.txt4{.txt1;}
    //&:nth-of-type(1){padding-left:0;}
  }
  a{float:right;width:3.5rem;height:1.25rem;line-height:1.25rem;text-align:center;color:#fff;background:#FFA422;.border-radius(@radius:.125rem);font-size:.65rem;margin:.375rem .5rem 0 0;}
}

.CouponBox{padding-bottom:.3rem;
  .CouponTop{padding-top:.625rem;.ClearBox;}
  .CouponBtm{padding-top:0;.ClearBox;}
  .CouponBg{width:31%;height:4.725rem;background:url("../img/CouponBg.png") no-repeat;background-size:100% 100%;float:left;margin-left:1.7%;
    dt{font-family:Arial,sans-serif;font-weight:bold;color:#fb3367;text-align:center;padding-top:.4rem;
      small{font-size:.7rem;line-height:.7rem;}
      b{font-size:1.4rem;line-height:1.4rem;}
      p{font-size:.6rem;color:#3c0f0f;text-align:center;line-height:.6rem;}
      span{font-size:.65rem;font-weight:normal;vertical-align: middle;}
    }
    dd{text-align:center;padding-top:.4rem;
      a{display:inline-block;width:4.65rem;height:1.25rem;background:#FB3763;color:#fff;.border-radius(@radius:.125rem);line-height:1.25rem;text-align:center;font-size:.6rem;}
    }
  }
  .CouponTitle{padding:.5rem 28% .7rem 28%;.img-box;
    img{width:100%;}
  }
}

.AppBg{.img-box;margin:0 2.7%;padding-top:.5rem;position:relative;
  img{width:100%;display:block;}
  .AppBtn{width:22%;position:absolute;background:url("../img/AppBtn.png") no-repeat;background-size:100% 100%;right:2%;top:24%;animation:AppButton .8s infinite linear alternate;}
}

.AircraftTitle{.img-box;padding:.5rem 2.7% 0 2.7%;position: relative;
  img{width:100%;display:block;}
  span{font-size:.7rem;color:#3c0f0f;position:absolute;left:12%;bottom:12%;
    &:after{content:"";position:absolute;width:.575rem;height:.75rem;background:url("../img/Location.png") no-repeat;background-size:100% 100%;left:-51%;top:5%;}
  }
}

.PlaneTicketNav{.ClearBox;background:#FFE487;
  li{float:left;height:2rem;line-height:2rem;width:18.5%;text-align:center;font-size:.7rem;
    &:nth-of-type(5){width:24%;}
    &.on{color:#f1317a;}
  }
}
.PlaneTicketBox{.ClearBox;padding:0 0 .65rem 0;
  .PlaneTicketWrap{float:left;background:#fff;width:45%;margin-left:3.2%;margin-top:.5rem;.border-radius(@radius:.25rem);height:4.55rem;position:relative;
    .CityName{font-size:.7rem;color:#3c0f0f;line-height:.7rem;position:absolute;left:5%;top:.5rem;}
    .Week{font-size:.55rem;line-height:.55rem;color:#B19F9F;position:absolute;left:5%;top:1.6rem;}
    .Discount{width:22%;height:.6rem;line-height:.6rem;text-align:center;color:#fb3367;font-size:.5rem;border:1px solid #FB3367;position:absolute;.border-radius(@radius:.05rem);right:5%;top:1.5rem;}
    .Price{right:5%;position:absolute;color:#fb3367;top:.1rem;
      em{font-style:normal;font-size:.6rem;font-family:Arial,sans-serif;}
      b{font-size:.8rem;padding-left:.1rem;}
    }
    a{position:absolute;background:#FA3764;font-size:.7rem;color:#fff;height:1.5rem;line-height:1.5rem;width:90%;left:50%;margin-left:-45%;text-align:center;bottom:.425rem;.border-radius(@radius:.15rem);}
    &:after,&:before{content:"";position:absolute;width:.075rem;height:.6rem;background:#FCD343;top:3.075rem;}
    &:after{left:0;}
    &:before{right:0;}
  }
}

.HotelTitle{.AircraftTitle}

.LingQuanBtn{.img-box;padding:0 .4rem .2rem .4rem;position: relative;
  img{width:100%;}
  a img{width:16%;position: absolute;right:6%;top:10%;}
}

.HotelNav{.ClearBox;background:#FFE487;height:2rem;
  li{float:left;line-height:2rem;width:30%;text-align:center;font-size:.7rem;color:#3c0f0f;
    &:nth-of-type(2){width:40%;}
    &.on{color:#f1317a;}
  }
}

.HotelBox{padding:.65rem 0 .65rem 1%;.ClearBox;
  .HotelWrap{float:left;width:45.5%;margin-left:2.5%;background:#fff;padding-bottom:2%;
    img{display:block;width:100%;}
    a{width:100%;height:1.5rem;line-height:1.5rem;background:#F93666;color:#fff;text-align:center;font-size:.7rem;display:block;.border-radius(@radius:.125rem);}
    li{padding:0 5%;
      &:nth-of-type(1){padding:0;}
      &:nth-of-type(2){font-size:.7rem;color:#3c0f0f;line-height:.7rem;padding-top:.6rem;}
      &:nth-of-type(3){font-size:.55rem;color:#B19F9F;line-height:.55rem;padding-top:.3rem;}
      &:nth-of-type(4){.ClearBox;
        small,b,span{float:left;}
        small{font-size:.6rem;font-weight:bold;color:#fb3367;margin-top:.15rem;}
        b{font-size:.8rem;color:#fb3367;margin-left:.1rem;}
        span{font-size:.6rem;color:#B19F9F;text-decoration:line-through;margin-top:.15rem;margin-left:.35rem;}
      }
      &:nth-of-type(5){padding-top:.2rem;}
    }
  }
}

.Extension{padding:0 .5rem;position:relative;
  img{width:100%;padding-top:.5rem;}
  a{width:4.5rem;height:1.45rem;position:absolute;background:#F13179;color:#fff;line-height:1.45rem;text-align:center;left:10%;bottom:14%;font-size:.65rem;font-weight:bold;.border-radius(@radius:.125rem);}
}

.FixedNav{position: fixed;bottom:0;left:0;height:2.25rem;width:100%;background:rgba(38,8,16,.95);
  li{float:left;width:25%;line-height:2.25rem;font-size:.7rem;text-align:center;
    &.active a{background:rgba(136,0,36,.95);}
    a{color:#fff;display:block;width:100%;}
  }
}

.AMBTN{animation:AppButton .3s infinite linear alternate;}

.GuiZeBox{width:15rem;height:16.15rem;background:url("../img/guizeBg.png") no-repeat;background-size:100% 100%;position:fixed;left:50%;top:50%;margin-top:-8.075rem;margin-left:-7.5rem;z-index:12;
  .CloseBtn{position:absolute;width:1.4rem;height:1.4rem;background:url("../img/close.png") no-repeat;background-size:100% 100%;right:0;top:-1.8rem;}
  .HideBox{overflow-y:scroll;height:13rem;margin-top:2.5rem;padding:0 1.2rem;color:#3c0f0f;
    p{font-size:.6rem;line-height:1rem;}
    h4{font-size:.65rem;padding-top:.4rem;padding-bottom:.2rem;}
  }
}

.jsTab_con{display:none;
  &:nth-of-type(1){display:block;}
}

@keyframes Block2UpDown
{
  from {transform: translateY(-10%);}
  to {transform: translateY(50%);}
}

@-webkit-keyframes Block2UpDown /* Safari 和 Chrome */
{
  from {transform: translateY(-10%);}
  to {transform: translateY(50%);}
}
@keyframes Block3UpDown
{
  from {transform: translateY(0%);}
  to {transform: translateY(90%);}
}

@-webkit-keyframes Block3UpDown /* Safari 和 Chrome */
{
  from {transform: translateY(0%);}
  to {transform: translateY(90%);}
}

@keyframes Train
{
  from {transform: translateX(-130%);}
  to {transform: translateX(330%);}
}

@-webkit-keyframes Train /* Safari 和 Chrome */
{
  from {transform: translateX(-130%);}
  to {transform: translateX(330%);}
}

@keyframes AppButton
{
  from {transform:scale(.9,.9)}
  to {transform:scale(1,1)}
}

@-webkit-keyframes AppButton /* Safari 和 Chrome */
{
  from {transform:scale(.9,.9)}
  to {transform:scale(1,1)}
}





