.VerificationBg{position:absolute;left:0;top:0;background:url("../img/Bg.jpg") no-repeat;background-size:100% auto;height:100%;width:100%;
  h3{font-size:.8rem;color:#fff;text-align:center;font-weight:normal;line-height:1rem;margin-top:4.75rem;}
}
input[type="text"] {
  -webkit-appearance: none;
}
.inputList{padding:3rem 1.4rem 0 1.4rem;
  li:nth-of-type(1){border:1px solid #E7B3D6;.border-radius(@radius:.25rem);overflow: hidden;padding:.3rem 0 .5rem 0;}
  li:nth-of-type(2){margin-top:.625rem;
    img{width:100%;}
  }
  li:nth-of-type(3){margin-top:.625rem;border:1px solid #E7B3D6;.border-radius(@radius:.25rem);overflow: hidden;padding:.3rem 0 .5rem 0;
    .ClearBox;
  }
  li:nth-of-type(4){margin-top:2.275rem;}
}
.mobInput{height:1.2rem;border:0;width:100%;font-size:.9rem;text-indent:.9rem;background:none;color:#fff;.placeholder({color:#fff;});}
.LingQuBtn{display:block;background:#FFCB4E;height:2.2rem;line-height:2.2rem;text-align:center;font-size:.9rem;color:#883800;.border-radius(@radius:3rem);}
.YzmInput::-webkit-input-placeholder { /* WebKit browsers */
  line-height:normal;
}
.mobInput::-webkit-input-placeholder { /* WebKit browsers */
  line-height:normal;
}
.PopTxt{z-index:3;width:14.5rem;height:16.75rem;background:#fff;left:50%;top:50%;margin-left:-7.25rem;margin-top:-8.375rem;position: fixed;
  dl{font-size:.8rem;
    dt{text-align:center;padding-top:6.25rem;
      p{line-height:1.2rem;}
    }
    dd{padding-top:2.2rem;
      a{display:block;margin:0 auto;width:12.25rem;height:2.475rem;line-height:2.2rem;text-align:center;background:url("../img/BtnBg.png") no-repeat;background-size:100% 100%;color:#fff;}
    }
  }
  .CloseBtn{width:.75rem;height:.75rem;position: absolute;right:.25rem;top:.25rem;background:url("../img/Close.png") no-repeat;background-size:100% 100%;}
  .Icon1{width:2.95rem;height:2.95rem;position:absolute;left:9rem;top:-1.4rem;background:url("../img/Icon1.png") no-repeat;background-size:100% 100%;}
  .Icon2{width:.6rem;height:.6rem;position:absolute;left:11rem;top:4.8rem;background:url("../img/Icon2.png") no-repeat;background-size:100% 100%;}
  .Icon3{width:.4rem;height:.4rem;position:absolute;left:3rem;top:1.8rem;background:url("../img/Icon3.png") no-repeat;background-size:100% 100%;}
  .Icon4{width:3.35rem;height:3.375rem;position:absolute;left:1rem;top:17.8rem;background:url("../img/Icon4.png") no-repeat;background-size:100% 100%;}
  .Icon5{width:2.925rem;height:2.925rem;position:absolute;left:6rem;top:2.8rem;background:url("../img/Icon5.png") no-repeat;background-size:100% 100%;}
  .Icon6{width:2.925rem;height:2.925rem;position:absolute;left:6rem;top:2.8rem;background:url("../img/fail.png") no-repeat;background-size:100% 100%;}
}