/*Created by huang.jun on 17-09-6*/
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
a:active {
  opacity: .7;
}
ol,
ul,
li {
  list-style: none;
}
body {
  font-family: PingFang SC Regular, sans-serif;
}
.shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
}
.img-box {
  font-size: 0;
}
.ClearBox:after,
.ClearBox:before {
  content: " ";
  display: table;
  clear: both;
}
.img-box img {
  width: 100%;
}
.WrapBox {
  padding: 0 1.25rem 1rem 1.25rem;
}
.InputBox {
  background: #FFC554;
  padding: 1.05rem;
  -webkit-border-radius: 0.175rem;
  -moz-border-radius: 0.175rem;
  border-radius: 0.175rem;
}
.MobInput {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  overflow: hidden;
}
.MobInput input {
  height: .75rem;
  background: #FFEAC0;
  border: 0;
  width: 100%;
  font-size: .75rem;
  color: #333;
  padding: .75rem 0;
  text-indent: .85rem;
}
.MobInput input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.MobInput input:-moz-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.MobInput input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.MobInput input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.yzm {
  margin-top: .5rem;
}
.yzm div {
  height: 2.25rem;
  background: #FF7D25;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  overflow: hidden;
  position: relative;
  color: #fff;
  text-align: center;
  line-height: 2.25rem;
  font-size: .75rem;
}
.yzm div span {
  width: 2.7rem;
  height: 2.25rem;
  background: url("../img/block.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.yzmInput {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
  overflow: hidden;
  background: #FFEAC0;
  margin-top: .5rem;
}
.yzmInput input {
  height: .75rem;
  background: #FFEAC0;
  border: 0;
  width: 60%;
  font-size: .75rem;
  color: #333;
  padding: .75rem 0;
  text-indent: .85rem;
  float: left;
}
.yzmInput input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.yzmInput input:-moz-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.yzmInput input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.yzmInput input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.yzmInput a {
  float: right;
  height: .75rem;
  line-height: .75rem;
  padding: .75rem 0;
  font-size: .75rem;
  color: #ee782f;
  width: 40%;
  text-align: center;
  position: relative;
}
.yzmInput a:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 1.25rem;
  background: #CDBB99;
  left: 0;
  top: 50%;
  margin-top: -0.625rem;
  opacity: .3;
}
.InputBtn {
  margin-top: .5rem;
}
.InputBtn a {
  display: block;
  width: 100%;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  color: #fff;
  font-size: .8rem;
  background: #FF4D2F;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
.ActivityRules {
  padding: 1rem;
  background: #FFC554;
  -webkit-border-radius: 0.175rem;
  -moz-border-radius: 0.175rem;
  border-radius: 0.175rem;
  margin-top: .5rem;
}
.ActivityRules dl dt {
  text-align: center;
  font-size: 0;
  padding-bottom: .5rem;
}
.ActivityRules dl dt img {
  width: 10.475rem;
}
.ActivityRules dl dd p {
  color: #4b140b;
  line-height: 1.2rem;
  font-size: .6rem;
}
.CouponBox {
  background: #FFC554;
  padding: 1.05rem;
  -webkit-border-radius: 0.175rem;
  -moz-border-radius: 0.175rem;
  border-radius: 0.175rem;
}
.Coupon {
  height: 4.2rem;
  background: url("../img/Coupon.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  font-family: PingFang SC Heavy;
  color: #f7561e;
}
.Coupon small {
  font-size: .9rem;
  line-height: .9rem;
  position: absolute;
  left: 1rem;
  top: 1.8rem;
}
.Coupon b {
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  left: 1.825rem;
  top: 1.3rem;
}
.Coupon dl {
  padding-left: 5.05rem;
}
.Coupon dl dt {
  font-size: .8rem;
  color: #333;
  line-height: .8rem;
  padding-top: 1.15rem;
}
.Coupon dl dd {
  font-size: .5rem;
  color: #888;
  line-height: .5rem;
  padding-top: .4rem;
}
.MobileLogin {
  font-size: .6rem;
  color: #46151e;
  text-align: center;
  line-height: .6rem;
  margin-top: .75rem;
}
.MobileLogin dt span {
  color: #f7561e;
}
.MobileLogin dd {
  padding-top: .35rem;
}
.Step {
  text-align: center;
  padding-top: .95rem;
}
.Step img {
  width: 12.525rem;
}
