/*Created by huang.jun on 16-03-21*/
*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:SimHei;}

.btnBox{ position:relative;}
.btnBox a{width:8.289855072463768rem; position:absolute;left:50%;margin-left:-4.144927536231884rem;top:.5rem;}
.btnBox a:active{ opacity:.9;}




























