*{margin:0;padding:0;}
a{ text-decoration:none;}
ol,ul,li{list-style:none;}
img{width:100%;}
body{font-family:PingFang SC Medium,sans-serif;}

.bg1{background:url("../img/img1.jpg") no-repeat center 0 #7E00C2;height:409px;}
.bg2{background:url("../img/img2.jpg") no-repeat center 0 #7E00C2;height:276px;}
.bg3{background:url("../img/img3.jpg") no-repeat center 0 #7E00C2;height:476px;}
.bg4{background:url("../img/img4.jpg") no-repeat center 0 #7E00C2;height:471px;}
.bg5{background:url("../img/img5.jpg") no-repeat center 0 #7E00C2;height:371px;}
.bg6{background:url("../img/img6.jpg") no-repeat center 0 #7E00C2;height:187px;}
.list-wrap{width:1054px;margin:0 auto;position:relative;
  a{position:absolute;}
  .btn1{top:107px;left:36px;}
  .btn2{top:107px;left:547px;}
  .btn3{top:213px;left:36px;}
  .btn4{top:213px;left:547px;}
  .btn5{font-size:24px;color:#fc0000;text-decoration:underline;left:910px;top:306px;
    &:hover{text-decoration:none;}
  }
}


































